@media screen and (min-width: 992px) {
    html {
    	font-size: 75%;
    }
   .header .banner-header {
    	padding-top: 7rem;
    }
    .header .banner-object {
    	transform: scale(0.8);
    	transform-origin: 50% 100%;
    }
    .header .header-name {
    	margin-bottom: 1.6rem;
    }
    .modules-top {
    	font-size: 1.3rem;
    }
    .toolbar {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
    	font-size: 68.75%;
    }
    .sidebar-modules #mod_video:after {
        top: 75px;
    }
    .sidebar-modules #mod_location:after {
        top: 62px;
    }
}