html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Clear Sans', sans-serif;
  color: #6f6f6f;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eaf7ff;
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-size: 1.4rem;
}

body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 492px;
  background: linear-gradient(to bottom, #98c8e0 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
  pointer-events: none;
}

.page {
  position: relative;
  overflow: hidden;
  display: block !important;
}

.page:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

.label, label {
  white-space: normal;
  text-align: left;
  border-radius: 0;
  line-height: 34px;
  display: inline-block;
}

p, span, a, h2, h3 {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.dropdown-backdrop {
  display: none;
}

form, fieldset, button {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input, select, textarea {
  font-size: 1.3rem;
  font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  width: 100%;
  margin: 10px 0;
  table-layout: fixed;
  border-collapse: collapse;
}

table caption {
  font-family: 'Clear Sans Bold', sans-serif;
}

table td, table th {
  padding: 5px;
  border: 1px solid #446b87;
}

table th {
  background-color: #446b87;
  color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}

table tr th:first-child, table tr td:first-child {
  border-left-width: 0;
}

table tr th:last-child, table tr td:last-child {
  border-right-width: 0;
}

a {
  display: inline-block;
  transition: all .3s ease-in-out;
  color: #446b87;
}

a:hover, a:focus {
  color: currentColor;
}

a:focus {
  text-decoration: none;
  outline-width: 0;
}

a[href^="mailto:"] {
  word-break: break-all;
  color: #6f6f6f;
}

a[href^="mailto:"] span {
  color: #6f6f6f;
}

.skip-links {
  position: absolute;
  top: 0;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  min-width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  left: 0;
  background-color: #6f6f6f;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Clear Sans Bold', sans-serif;
  opacity: 1;
  outline: none;
}

[data-whatinput="keyboard"] *:focus {
  outline: 2px solid #000 !important;
  outline-offset: 0 !important;
  display: inline-block;
  opacity: 1 !important;
}

[data-whatinput="keyboard"] input[type="radio"]:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

a:focus, button:focus, .menu-top .navbar-toggl:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0;
}

[data-whatinput="mouse"] input[type="radio"]:focus,
[data-whatinput="touch"] input[type="radio"]:focus {
  outline: 0 !important;
}

.butForm, button:not(.navbar-toggle), input[type="submit"], .button {
  font-family: 'Droid Serif Bold', serif;
  line-height: 18px;
  padding: 8px 13px;
  color: #eaf7ff !important;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #203d4c;
  text-decoration: none !important;
  text-align: center !important;
  border-radius: 18px;
  border: 0;
  background: #32576a;
  transition: all .3s ease;
  background-image: linear-gradient(to top, #5888a0 0%, #2c5062 100%);
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

.butForm.color-2, button:not(.navbar-toggle).color-2, input[type="submit"].color-2, .button.color-2 {
  background: #c94197;
  color: #ffe0f4 !important;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.butForm:hover, button:not(.navbar-toggle):hover, input[type="submit"]:hover, .button:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif Bold', serif;
  font-weight: normal;
  color: #bd348b;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

div[aria-hidden="true"] {
  display: inline;
}

.main-text a {
  color: #ac307f;
  text-decoration: underline;
}

.main-text a:hover, .main-text a:focus {
  text-decoration: none;
}

.page-content-mobile, a#top, #flashclock {
  display: none;
}

.page-content {
  padding-top: 0;
}

.files-header,
.gallery-header,
.subHead,
.main-header {
  display: block;
  text-align: center;
  color: #bd348b;
  position: relative;
  padding: 0 0 15px;
}

.files-header:before,
.gallery-header:before,
.subHead:before,
.main-header:before {
  content: '';
  display: block;
  width: 192px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #b8d6ec;
}

.main-header, .subHead {
  font-size: 3rem !important;
  line-height: 34px !important;
}

.main-header {
  margin: 0 0 60px;
}

.subHead {
  margin: 0 0 30px;
}

.files-header,
.gallery-header,
.subHead {
  text-align: left;
  font-size: 2.2rem !important;
  line-height: 26px !important;
  margin: 0 0 30px;
}

.files-header:before,
.gallery-header:before,
.subHead:before {
  left: 0;
  transform: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea {
  border-radius: 18px;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  color: #568096;
  border: 0;
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

input[type="text"],
input[type="search"],
input[type="password"] {
  height: 34px;
  padding: 0 16px;
  line-height: 34px;
}

textarea {
  resize: none;
  line-height: 18px;
  padding: 16px;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

.main {
  position: relative;
  background-color: #fff;
  padding-bottom: 30px;
}

.main:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
  width: 15px;
  height: 100%;
  background-color: #fff;
}

blockquote {
  padding: 0 0 0 10px;
  margin: 0;
  border-left: 3px solid #6f6f6f;
  font-size: 1.4rem;
}

.vector-decoration:focus {
  outline-width: 0 !important;
}

@media only screen and (min-width: 992px) {
  .aside {
    padding-right: 0;
  }
  .main {
    padding-left: 0;
    position: relative;
    margin-bottom: -16px;
    box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
  }
  .main .content-vector-decoration {
    display: block;
    position: absolute;
    z-index: 10;
    width: 68px;
    height: 51px;
    right: -15px;
    bottom: -50px;
    fill: #fff;
  }
  .main .content-vector-decoration__shadow {
    fill: #000;
  }
}

@media only screen and (max-width: 1199px) {
  .main .content-vector-decoration {
    display: none;
  }
  .files-header,
  .gallery-header,
  .subHead,
  .main-header {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 991px) {
  .page-content-mobile {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
}

.toolbar {
  padding: 24px 0 16px;
  color: #2c5062;
  text-shadow: 0px 1px 0px #b6e0f6;
}

.toolbar .row > div:before, .toolbar .row > div:after {
  content: " ";
  display: table;
}

.toolbar .row > div:after {
  clear: both;
}

.toolbar p {
  margin: 0;
}

.toolbar h1 {
  color: #2c5062;
  display: block;
  float: left;
  width: calc(100% - 42px);
  margin: 7px 0 0;
  font-size: 2.4rem;
  line-height: 28px;
}

.toolbar__home {
  float: left;
  display: block;
  width: 24px;
  height: 21px;
  margin: 10px 16px 0 0;
}

.toolbar__home svg {
  transition: all .3s ease;
  fill: #c23990;
  width: 24px;
  height: 21px;
}

.toolbar__home:hover svg {
  fill: #2c5062;
}

.toolbar__address {
  float: left;
  width: 152px;
  margin: 33px 75px 0 0;
  line-height: 18px;
}

.toolbar__address a[href^="mailto:"] {
  color: #2c5062;
  text-decoration: underline;
}

.toolbar__address a[href^="mailto:"]:hover {
  text-decoration: none;
}

.toolbar__links {
  width: calc(100% - 227px);
  float: left;
}

.toolbar__links:before, .toolbar__links:after {
  content: " ";
  display: table;
}

.toolbar__links:after {
  clear: both;
}

.toolbar__links li {
  display: block;
  float: left;
}

.toolbar__links li.bip {
  margin: 0 38px 0 0;
}

.toolbar__links li span {
  vertical-align: middle;
  display: inline-block;
}

.toolbar__links li.fonts {
  margin: 0 28px 0 0;
}

.toolbar__links li.fonts ul {
  display: inline-block;
  vertical-align: middle;
}

.toolbar__links li.fonts span {
  margin-right: 12px;
}

.toolbar__links li.fonts li {
  display: inline-block;
  font-size: 0;
  margin-right: 6px;
  vertical-align: bottom;
  height: 20px;
  position: relative;
}

.toolbar__links li.fonts li:first-child {
  width: 16px;
}

.toolbar__links li.fonts li:nth-child(2) {
  width: 19px;
}

.toolbar__links li.fonts li:last-child {
  width: 26px;
}

.toolbar__links li.fonts li a {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
}

.toolbar__links li.fonts li svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: #2c5062;
}

.toolbar__links li.fonts div {
  display: block;
}

.toolbar__links li.contrast span {
  transform: translateX(-2px) translateY(-8px);
}

.toolbar__links li.contrast svg {
  fill: #2c5062;
}

.toolbar__links li.search {
  margin: 17px 0 0;
  width: 277px;
  height: 36px;
  float: right;
}

.toolbar__links li.search input[type="text"] {
  width: 189px;
  display: block;
  float: left;
  margin: 0 5px 0 0;
}

.toolbar__links li.search button[type="submit"] {
  display: block;
  float: left;
  width: 83px;
}

@media only screen and (max-width: 1199px) {
  .toolbar h1 {
    margin-top: 0;
  }
  .toolbar__address {
    margin: 0 47px 0 0;
  }
  .toolbar__links {
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 991px) {
  .toolbar {
    margin-top: 50px;
    padding: 10px 0;
  }
  .toolbar .row:before, .toolbar .row:after {
    content: " ";
    display: table;
  }
  .toolbar .row:after {
    clear: both;
  }
  .toolbar .row > div {
    float: left;
    width: auto;
  }
  .toolbar .row > div:first-child {
    width: 65px;
  }
  .toolbar .row > div:last-child {
    width: calc(100% - 65px);
  }
  .toolbar h1 {
    display: none;
  }
  .toolbar .container {
    width: 100%;
  }
  .toolbar__home {
    margin: 0;
    width: 65px;
    padding: 5px;
  }
  .toolbar__links {
    width: 100%;
  }
  .toolbar__links li.fonts, .toolbar__links li span {
    display: none;
  }
  .toolbar__links li.bip, .toolbar__links li.contrast {
    margin-top: 5px;
  }
  .toolbar__links li.search {
    margin: 0;
    width: auto;
  }
  .toolbar__address {
    display: none;
  }
}

@media only screen and (max-width: 639px) {
  .toolbar .row > div:first-child {
    width: 50px;
    padding-right: 0;
  }
  .toolbar .row > div:last-child {
    width: calc(100% - 50px);
  }
  .toolbar__home {
    width: 50px;
  }
  .toolbar__links li.bip {
    margin: 5px 20px 0 0;
  }
  .toolbar__links li.search input[type="text"] {
    width: 125px;
  }
}

@media only screen and (max-width: 519px) {
  .toolbar__links li.bip {
    overflow: hidden;
    width: 27px;
  }
  .toolbar__links li.bip img {
    max-width: 125px;
    width: 125px;
    height: 27px;
  }
  .toolbar__links li.search {
    position: relative;
  }
  .toolbar__links li.search input[type="text"] {
    display: none;
    position: absolute;
    z-index: 2;
    width: 189px;
    right: 90px;
    top: 0;
  }
  .toolbar__links li.search.show input[type="text"] {
    display: block;
  }
}

.menu-top:before, .menu-top:after {
  content: " ";
  display: table;
}

.menu-top:after {
  clear: both;
}

#navbar-top {
  position: relative;
  float: right;
  width: calc(50% + 292px);
  right: 0;
  z-index: 10;
  background: #c23990;
  background-image: linear-gradient(to bottom, #bd348b 0%, #ca4198 100%);
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
  border-top-left-radius: 10px;
}

#navbar-top:before, #navbar-top:after {
  content: " ";
  display: table;
}

#navbar-top:after {
  clear: both;
}

#navbar-top .vector-decoration {
  transform: rotate(-90deg);
  display: block;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: -50px;
  fill: #ca4198;
}

#navbar-top > ul {
  padding: 0 15px 0 36px;
  float: left;
  width: 877px;
  position: relative;
  z-index: 10;
  font-size: 0;
}

#navbar-top > ul > li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 20px;
  max-width: 100%;
}

#navbar-top > ul > li:first-child > a:before {
  display: none;
}

#navbar-top > ul > li .dropdown-menu {
  z-index: 20;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  float: none;
  width: 240px;
  font-size: 1.6rem;
  line-height: 20px;
  background: #c23990;
  border: 0;
}

#navbar-top > ul > li .dropdown-menu > li {
  width: 100%;
}

#navbar-top > ul > li .dropdown-menu > li:first-child > a:before {
  display: none;
}

#navbar-top > ul > li .dropdown-menu a:before {
  top: -2.5px;
  left: calc(50% - 2.5px);
}

#navbar-top a {
  font-family: 'Droid Serif Bold', serif;
  display: block;
  letter-spacing: 0.2px;
  padding: 14px 18px;
  color: #ffe0f4;
  text-align: center;
  position: relative;
}

#navbar-top a:before {
  content: '';
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  background-color: #ec71c0;
  box-shadow: 0px 1px 0px 0px #9c2270;
}

#navbar-top a:hover, #navbar-top a .selected {
  color: #ffd800;
  text-decoration: none;
}

#navbar-top a:focus {
  outline: 0;
}

@media only screen and (max-width: 1199px) {
  #navbar-top > ul {
    width: 757px;
    padding: 0 15px;
  }
  #navbar-top > ul > li .dropdown-menu {
    width: 210px;
  }
  #navbar-top > ul a {
    padding: 10px 14px;
  }
}

@media only screen and (max-width: 991px) {
  .menu-top {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 20;
    border-radius: 0;
    background: #c23990;
    background-image: linear-gradient(to right, #d74fa5 0%, #bd348b 100%);
  }
  .navbar-header {
    width: 100%;
    float: none;
    border: 0;
    border-radius: 0;
    height: 50px;
  }
  .navbar-toggle {
    float: none;
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin: 0;
  }
  .navbar-toggle i {
    margin-left: 0;
    pointer-events: none;
    transition: all .3s ease;
    display: block;
    width: 36px;
    height: 3px;
    background-color: #fff;
  }
  .navbar-toggle i:not(:last-of-type) {
    margin-bottom: 7px;
  }
  .navbar-toggle[aria-expanded="true"] i:first-of-type {
    transform: rotate(45deg) translateX(8px) translateY(7px);
  }
  .navbar-toggle[aria-expanded="true"] i:nth-of-type(2) {
    opacity: 0;
  }
  .navbar-toggle[aria-expanded="true"] i:last-of-type {
    transform: rotate(-45deg) translateX(7px) translateY(-6px);
  }
  #navbar-top {
    width: 100%;
    float: none;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
  }
  #navbar-top .vector-decoration {
    display: none;
  }
  #navbar-top > ul {
    transition: all .1s ease;
    height: 0;
    opacity: 0;
    width: 100%;
    pointer-events: none;
  }
  #navbar-top > ul > li {
    display: block;
  }
  #navbar-top > ul > li a {
    padding-left: 0;
    padding-right: 0;
  }
  #navbar-top > ul > li .dropdown-menu {
    position: static;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    transform: none;
    width: 100%;
  }
  #navbar-top > ul > li .dropdown-menu > li:first-child > a:before {
    display: block;
  }
  #navbar-top > ul > li .dropdown-menu a {
    font-size: 1.3rem;
  }
  #navbar-top a:before {
    top: -2.5px;
    left: calc(50% - 2.5px);
  }
  #navbar-top.in {
    display: block;
  }
  #navbar-top.in > ul {
    opacity: 1;
    pointer-events: auto;
    border-top: 3px solid #fff;
    height: auto;
    padding: 4px 0;
  }
}

.header {
  pointer-events: none;
  transform: translateY(-80px);
  margin: 0 auto -120px;
  width: 1202px;
  position: relative;
  z-index: 2;
}

.header:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -250px;
  z-index: 1;
  right: 0;
  width: 15px;
  height: 300px;
  background-color: #fff;
}

.header.no-menu {
  transform: translateY(-30px);
}

#banner {
  position: relative;
  z-index: 3;
  width: 1202px;
  height: 555px;
}

#banner svg {
  width: 1202px;
  height: 555px;
}

.header__objects svg {
  position: absolute;
}

.header__objects--1 {
  z-index: 8;
  fill: #7cb1cc;
  top: 98px;
  left: -17px;
}

.header__objects--2 {
  z-index: 8;
  bottom: 171px;
  right: 105px;
  fill: #b8d6ec;
}

.header__objects--3 {
  z-index: 7;
  right: -9px;
  bottom: 131px;
  fill: #7cb1cc;
}

.header__objects--4 {
  z-index: 8;
  right: -33px;
  bottom: -28px;
  fill: #7cb1cc;
}

.header__objects--5 {
  z-index: 7;
  right: -73px;
  bottom: -85px;
  fill: #bd348b;
}

@media only screen and (max-width: 1199px) {
  .header {
    width: 970px;
  }
  .header:before {
    display: none;
  }
  #banner {
    width: 970px;
    height: 448px;
  }
  #banner svg {
    width: 970px;
    height: 448px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    width: 750px;
    transform: none;
    margin: 0 auto;
  }
  .header.no-menu {
    transform: none;
  }
  #banner {
    width: 750px;
    height: 346px;
  }
  #banner svg {
    width: 750px;
    height: 346px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  #banner {
    width: 100%;
    height: auto;
  }
  #banner svg {
    width: 100%;
    height: auto;
  }
  .header__objects svg {
    transform: scale(0.8);
  }
  .header__objects--4 {
    right: 72px;
    bottom: 61px;
  }
  .header__objects--5 {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 479px) {
  .header__objects svg {
    transform: scale(0.6);
  }
  .header__objects--2 {
    top: 5px;
    bottom: auto;
    right: 78px;
  }
  .header__objects--3 {
    top: 10px;
    bottom: auto;
  }
}

@media only screen and (max-width: 400px) {
  .header__objects {
    display: none;
  }
}

#sidebar-menu-desktop:before, #sidebar-menu-desktop:after, #sidebar-menu-mobile:before, #sidebar-menu-mobile:after {
  content: " ";
  display: table;
}

#sidebar-menu-desktop:after, #sidebar-menu-mobile:after {
  clear: both;
}

.sidebar {
  width: calc(100% + 30px);
  transform: translateX(-15px);
}

.sidebar h2 {
  color: #bd348b;
  font-size: 2.2rem;
  line-height: 24px;
  margin: 20px 0 15px;
}

.sidebar-menu {
  font-family: 'Droid Serif Bold', serif;
  width: 225px;
  margin: 0 30px 0 0;
  float: right;
  text-align: right;
}

.sidebar-menu ul li {
  margin-bottom: 2px;
}

.sidebar-menu ul a {
  font-size: 1.6rem;
  line-height: 20px;
  display: block;
  padding: 8px 4px 6px;
  color: #446b87;
  border-bottom: 2px solid #fff;
}

.sidebar-menu ul a.selected {
  color: #bd348b;
}

.sidebar-menu ul a:hover, .sidebar-menu ul a:focus {
  outline-width: 0;
  color: #446b87;
}

.sidebar-menu .dropdown-menu {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 0 30px 0 0;
  margin: 0;
  float: none;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  width: 100%;
  background-color: transparent;
  text-align: right;
}

.sidebar-menu .dropdown-menu > li > a:hover, .sidebar-menu .dropdown-menu > li > a:focus {
  text-decoration: underline;
  color: #446b87;
}

.sidebar-modules {
  width: calc(100% - 15px);
  padding-bottom: 65px;
}

.sidebar-modules .module {
  position: relative;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 16px 20px;
  transform: translateY(1px);
  margin-top: -1px;
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

.sidebar-modules .module:before, .sidebar-modules .module:after {
  content: " ";
  display: table;
}

.sidebar-modules .module:after {
  clear: both;
}

.sidebar-modules .module a {
  color: currentColor;
}

.sidebar-modules .module.module--icon .module-content .content {
  float: left;
  width: calc(100% - 85px);
}

.sidebar-modules .module h2 {
  margin: 0 0 16px;
  font-size: 2.2rem;
  line-height: 26px;
  padding: 0 0 15px;
  text-align: left;
  position: relative;
  clear: both;
}

.sidebar-modules .module h2:before {
  content: '';
  display: block;
  width: 128px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.sidebar-modules .module .module-content {
  position: relative;
}

.sidebar-modules .module .module-content:before, .sidebar-modules .module .module-content:after {
  content: " ";
  display: table;
}

.sidebar-modules .module .module-content:after {
  clear: both;
}

.sidebar-modules .module .module-content .content {
  width: 100%;
}

.sidebar-modules .module .icon {
  transform: translateY(-30px);
  position: relative;
  width: 79px;
  height: 79px;
  float: right;
}

.sidebar-modules .module .icon svg:not(.icon-background) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sidebar-modules .module#mod_login label, .sidebar-modules .module#mod_login .label {
  line-height: normal;
  font-weight: normal;
}

.sidebar-modules .module#mod_login fieldset {
  width: 170px;
}

.sidebar-modules .module#mod_login input[type="text"], .sidebar-modules .module#mod_login input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
}

.sidebar-modules .module#mod_login .butForm {
  float: right;
}

.sidebar-modules .module#mod_forum .button {
  margin-top: 15px;
}

.sidebar-modules .module:nth-child(3n+1) {
  background-color: #446b87;
  color: #d3e5f2;
}

.sidebar-modules .module:nth-child(3n+1) .vector-decoration {
  fill: #446b87;
}

.sidebar-modules .module:nth-child(3n+1) .icon-background {
  fill: #2c5062;
}

.sidebar-modules .module:nth-child(3n+1) h2 {
  color: #b8d6ec;
  text-shadow: 0px 1px 0px #3d5e76;
}

.sidebar-modules .module:nth-child(3n+1) h2:before {
  background-color: #5a85a3;
}

.sidebar-modules .module:nth-child(3n+1)#mod_forum .button {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+1)#mod_forum .button:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+1)#mod_login .butForm {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+1)#mod_login .butForm:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_prev a, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_next a {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_prev a:hover, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_prev a:focus, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_next a:hover, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .caption_nav_next a:focus {
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar caption, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar td {
  color: #d3e5f2;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar td, .sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar th {
  border-color: #d3e5f2;
  text-shadow: none;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar th {
  background-color: #d3e5f2;
  color: #6f6f6f;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar a {
  background-color: #d3e5f2;
  color: #972a6f;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar a:hover {
  background-color: #972a6f;
  color: #d3e5f2;
}

.sidebar-modules .module:nth-child(3n+1)#mod_calendar2 .calendar .pr_day {
  background-color: #972a6f;
  color: #d3e5f2 !important;
}

.sidebar-modules .module:nth-child(3n+1)#mod_questionnaire .button {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+1)#mod_questionnaire .button:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+1)#mod_questionnaire .module-content, .sidebar-modules .module:nth-child(3n+1)#mod_questionnaire .qPercent {
  color: #aad4ff;
}

.sidebar-modules .module:nth-child(3n+1)#mod_contact a[href^="mailto:"], .sidebar-modules .module:nth-child(3n+1)#mod_contact a[href^="mailto:"] span {
  color: #ffd800 !important;
}

.sidebar-modules .module:nth-child(3n+2) {
  background-color: #bd348b;
  color: #ffe0f4;
}

.sidebar-modules .module:nth-child(3n+2) .vector-decoration {
  fill: #bd348b;
}

.sidebar-modules .module:nth-child(3n+2) .icon-background {
  fill: #761d56;
}

.sidebar-modules .module:nth-child(3n+2) h2 {
  color: #ffe0f4;
  text-shadow: 0px 1px 0px #9c2270;
}

.sidebar-modules .module:nth-child(3n+2) h2:before {
  background-color: #d558a7;
}

.sidebar-modules .module:nth-child(3n+2)#mod_questionnaire .module-content, .sidebar-modules .module:nth-child(3n+2)#mod_questionnaire .qPercent {
  color: #ffe0f4;
}

.sidebar-modules .module:nth-child(3n+2)#mod_questionnaire .qBar {
  background-color: #aad4ff;
}

.sidebar-modules .module:nth-child(3n+2)#mod_contact a[href^="mailto:"], .sidebar-modules .module:nth-child(3n+2)#mod_contact a[href^="mailto:"] span {
  color: #ffd800 !important;
}

.sidebar-modules .module:nth-child(3n+2)#mod_calendar2 .calendar th {
  border-top-color: #972a6f;
}

.sidebar-modules .module:nth-child(3n+3) {
  background-color: #ffd800;
  color: #7a295d;
}

.sidebar-modules .module:nth-child(3n+3) .vector-decoration {
  fill: #ffd800;
}

.sidebar-modules .module:nth-child(3n+3) .icon-background {
  fill: #857100;
}

.sidebar-modules .module:nth-child(3n+3) h2 {
  color: #7a295d;
  text-shadow: 0px 1px 0px #ffea76;
}

.sidebar-modules .module:nth-child(3n+3) h2:before {
  background-color: #e8c400;
}

.sidebar-modules .module:nth-child(3n+3)#mod_forum .button {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+3)#mod_forum .button:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+3)#mod_login .user-name a {
  color: #7a295d;
}

.sidebar-modules .module:nth-child(3n+3)#mod_login .butForm {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+3)#mod_login .butForm:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_prev a, .sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_next a {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .calendar caption, .sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .calendar td {
  color: #7a295d;
}

.sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .calendar th {
  border-top-color: #972a6f;
}

.sidebar-modules .module:nth-child(3n+3)#mod_questionnaire .button {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.sidebar-modules .module:nth-child(3n+3)#mod_questionnaire .button:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+3)#mod_questionnaire input[type="radio"] + label .label {
  color: #7a295d;
}

.sidebar-modules .module:nth-child(3n+3)#mod_questionnaire .module-content, .sidebar-modules .module:nth-child(3n+3)#mod_questionnaire .qPercent {
  color: #7a295d;
}

.sidebar-modules .module:nth-child(3n+3)#mod_questionnaire .qBar {
  border-color: #d74fa5;
}

.sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_prev a:hover, .sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_prev a:focus, .sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_next a:hover, .sidebar-modules .module:nth-child(3n+3)#mod_calendar2 .caption_nav_next a:focus {
  background-position: 0 -34px;
}

.sidebar-modules .module:nth-child(3n+3)#mod_contact a[href^="mailto:"], .sidebar-modules .module:nth-child(3n+3)#mod_contact a[href^="mailto:"] span {
  color: #bd348b !important;
}

.sidebar-modules .module:nth-child(1) {
  z-index: 20;
}

.sidebar-modules .module:nth-child(2) {
  z-index: 19;
}

.sidebar-modules .module:nth-child(3) {
  z-index: 18;
}

.sidebar-modules .module:nth-child(4) {
  z-index: 17;
}

.sidebar-modules .module:nth-child(5) {
  z-index: 16;
}

.sidebar-modules .module:nth-child(6) {
  z-index: 15;
}

.sidebar-modules .module:nth-child(7) {
  z-index: 14;
}

.sidebar-modules .module:nth-child(8) {
  z-index: 13;
}

.sidebar-modules .module:nth-child(9) {
  z-index: 12;
}

.sidebar-modules .module:nth-child(10) {
  z-index: 11;
}

.sidebar-modules .module:nth-child(11) {
  z-index: 10;
}

.sidebar-modules .module:nth-child(12) {
  z-index: 9;
}

.sidebar-modules .module:nth-child(13) {
  z-index: 8;
}

.sidebar-modules .module:nth-child(14) {
  z-index: 7;
}

.sidebar-modules .module:nth-child(15) {
  z-index: 6;
}

.sidebar-modules .module:nth-child(16) {
  z-index: 5;
}

.sidebar-modules .module:nth-child(17) {
  z-index: 4;
}

.sidebar-modules .module:nth-child(18) {
  z-index: 3;
}

.sidebar-modules .module:nth-child(19) {
  z-index: 2;
}

.sidebar-modules .module:nth-child(20) {
  z-index: 1;
}

.sidebar-modules .module .vector-decoration {
  position: absolute;
  width: 50px;
  height: 50px;
}

.sidebar-modules .module .vector-decoration.top {
  left: 0;
  top: -49px;
  transform: rotate(180deg);
}

.sidebar-modules .module .vector-decoration.bottom {
  z-index: 3;
  right: 0;
  bottom: -49px;
}

@media only screen and (max-width: 1199px) {
  .sidebar {
    width: 100%;
    transform: none;
  }
  .sidebar-menu {
    width: 205px;
    margin-right: 15px;
  }
  .sidebar-modules {
    width: 100%;
  }
  .sidebar-modules .module.module--icon .module-content .content {
    width: calc(100% - 65px);
  }
  .sidebar-modules .module#mod_forum .button {
    margin-top: 0;
  }
  .sidebar-modules .module#mod_login fieldset {
    width: 100%;
  }
  .sidebar-modules .module .icon {
    transform: none;
    width: 60px;
    height: 60px;
  }
  .sidebar-modules .module .icon svg:not(.icon-background) {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}

@media only screen and (max-width: 991px) {
  .sidebar-menu {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .sidebar-menu .dropdown-menu {
    padding: 0 0 0 30px;
    text-align: left;
  }
  .sidebar-modules .module#mod_forum .button {
    min-width: 0;
    margin-top: 15px;
  }
  .sidebar-modules .module#mod_login label, .sidebar-modules .module#mod_login .label {
    text-align: left;
  }
  .sidebar-modules .module#mod_login fieldset {
    max-width: 280px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-menu {
    margin-bottom: 20px;
  }
  .sidebar-modules .module {
    height: auto !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-modules {
    width: 100%;
    text-align: left;
    font-size: 0;
  }
  .sidebar-modules .module {
    text-align: left;
    display: inline-block;
    font-size: 1.4rem;
    vertical-align: top;
    width: 50%;
  }
  .sidebar-modules .module.module--icon .icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar-modules .module.module--icon .module-content {
    padding-top: 65px;
  }
  .sidebar-modules .module.module--icon .module-content .content {
    width: 100%;
  }
  .sidebar-modules .module .module-content {
    text-align: center;
  }
  .sidebar-modules .module#mod_forum .button {
    margin: 15px 30px 0;
  }
  .sidebar-modules .module:nth-child(2) .vector-decoration.top {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar-modules {
    width: 100%;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-modules .module {
    height: auto !important;
  }
}

.modules-top {
  transform: translateY(-30px);
  margin-bottom: -30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.modules-top .container {
  position: relative;
}

.modules-top .row {
  font-size: 0;
}

.modules-top .row > div {
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

.modules-top .row > div .vector-decoration {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
}

.modules-top .row > div .vector-decoration.bottom {
  transform: rotate(-90deg);
  bottom: -50px;
  left: 0;
}

.modules-top .row > div .vector-decoration.top {
  transform: rotate(90deg);
  top: -50px;
  right: -1px;
}

.modules-top .row > div:first-child {
  background-color: #446b87;
  border-top-left-radius: 10px;
}

.modules-top .row > div:first-child .vector-decoration {
  fill: #446b87;
}

.modules-top .row > div:first-child .vector-decoration.bottom {
  display: block;
}

.modules-top .row > div:first-child .vector-decoration.top {
  right: 0;
}

.modules-top .row > div:first-child .modules-top__content {
  color: #d3e5f2;
}

.modules-top .row > div:first-child .modules-top__icon {
  background-color: #446b87;
}

.modules-top .row > div:first-child .modules-top__icon .modules-top__icon--background {
  fill: #2c5062;
}

.modules-top .row > div:first-child#mod_contact a[href^="mailto:"] {
  color: #d3e5f2 !important;
}

.modules-top .row > div:first-child#mod_contact a[href^="mailto:"] span {
  color: #d3e5f2 !important;
}

.modules-top .row > div:first-child#mod_login .button, .modules-top .row > div:first-child#mod_login .butForm {
  background: #c94197;
  text-shadow: 0px 1px 0px #9c2270;
  background-image: linear-gradient(to top, #d74fa5 0%, #bd348b 100%);
}

.modules-top .row > div:first-child#mod_login .button:hover, .modules-top .row > div:first-child#mod_login .butForm:hover {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.modules-top .row > div:nth-child(2) {
  background-color: #6d98b7;
}

.modules-top .row > div:nth-child(2) .vector-decoration {
  fill: #6d98b7;
}

.modules-top .row > div:nth-child(2) .modules-top__content {
  color: #d3e5f2;
}

.modules-top .row > div:nth-child(2) .modules-top__icon {
  background-color: #6d98b7;
}

.modules-top .row > div:nth-child(2) .modules-top__icon .modules-top__icon--background {
  fill: #2c5062;
}

.modules-top .row > div:nth-child(2)#mod_contact a[href^="mailto:"] {
  color: #d3e5f2 !important;
}

.modules-top .row > div:nth-child(2)#mod_contact a[href^="mailto:"] span {
  color: #d3e5f2 !important;
}

.modules-top .row > div:nth-child(3) {
  background-color: #99bfda;
}

.modules-top .row > div:nth-child(3) .vector-decoration {
  fill: #99bfda;
}

.modules-top .row > div:nth-child(3) .modules-top__content {
  color: #2c5062;
}

.modules-top .row > div:nth-child(3) .modules-top__icon {
  background-color: #99bfda;
}

.modules-top .row > div:nth-child(3) .modules-top__icon .modules-top__icon--background {
  fill: #416a7e;
}

.modules-top .row > div:nth-child(3)#mod_contact a[href^="mailto:"] {
  color: #2c5062 !important;
}

.modules-top .row > div:nth-child(3)#mod_contact a[href^="mailto:"] span {
  color: #2c5062 !important;
}

.modules-top .row > div:nth-child(4) {
  background-color: #b8d6ec;
  border-right: 1px solid #b0cee4;
}

.modules-top .row > div:nth-child(4) .vector-decoration {
  fill: #b8d6ec;
}

.modules-top .row > div:nth-child(4) .modules-top__content {
  color: #2c5062;
}

.modules-top .row > div:nth-child(4) .modules-top__icon {
  background-color: #b8d6ec;
}

.modules-top .row > div:nth-child(4) .modules-top__icon .modules-top__icon--background {
  fill: #416a7e;
}

.modules-top .row > div:nth-child(3)#mod_login .user-name a, .modules-top .row > div:nth-child(4)#mod_login .user-name a {
  color: #2c5062;
}

.modules-top .row > div:nth-child(3)#mod_contact a[href^="mailto:"], .modules-top .row > div:nth-child(4)#mod_contact a[href^="mailto:"] {
  color: #2c5062 !important;
}

.modules-top .row > div:nth-child(3)#mod_contact a[href^="mailto:"] span, .modules-top .row > div:nth-child(4)#mod_contact a[href^="mailto:"] span {
  color: #2c5062 !important;
}

.modules-top .row > div:last-child {
  border-bottom-right-radius: 10px;
}

.modules-top .row > div:last-child .vector-decoration.top {
  display: block;
}

.modules-top .module {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 16px;
  padding: 0 30px 22px;
  position: relative;
}

.modules-top .module-4 {
  width: 25%;
}

.modules-top .module-3 {
  width: 33.3333%;
}

.modules-top .module-2 {
  width: 50%;
}

.modules-top .module-1 {
  width: 100%;
}

.modules-top #mod_login fieldset {
  width: 100%;
  max-width: 253px;
  margin: 0 auto;
}

.modules-top #mod_login fieldset:before, .modules-top #mod_login fieldset:after {
  content: " ";
  display: table;
}

.modules-top #mod_login fieldset:after {
  clear: both;
}

.modules-top #mod_login label {
  text-transform: none;
  float: left;
  line-height: 34px;
  font-family: 'Clear Sans Bold', sans-serif;
  width: calc(100% - 140px);
  text-align: right;
  padding: 0 10px 0 0;
}

.modules-top #mod_login input[type="text"],
.modules-top #mod_login input[type="password"] {
  float: left;
  width: 140px;
}

.modules-top #mod_login input[type="submit"] {
  margin-left: calc(100% - 140px);
  float: left;
}

.modules-top__object {
  position: absolute;
  fill: #bd348b;
  z-index: 3;
  top: -107px;
  left: -58px;
}

.modules-top__object--2 {
  position: absolute;
  fill: #b8d6ec;
  z-index: 3;
  bottom: -58px;
  left: -7px;
}

.modules-top__name {
  font-size: 2.1rem;
  line-height: 26px;
  margin: -2px 0 18px;
  position: relative;
  padding: 0 0 13px;
}

.modules-top__name:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 1px;
  width: 127px;
}

.modules-top__name.name-1 {
  color: #b8d6ec;
  text-shadow: 0px 1px 0px #3d5e76;
}

.modules-top__name.name-1:before {
  background-color: #5a85a3;
}

.modules-top__name.name-2 {
  color: #d3e5f2;
  text-shadow: 0px 1px 0px #3d5e76;
}

.modules-top__name.name-2:before {
  background-color: #92b5cf;
}

.modules-top__name.name-3 {
  color: #416a7e;
  text-shadow: 0px 1px 0px #b6e0f6;
}

.modules-top__name.name-3:before {
  background-color: #b1dcfb;
}

.modules-top__name.name-4 {
  color: #3f687d;
  text-shadow: 0px 1px 0px #b6e0f6;
}

.modules-top__name.name-4:before {
  background-color: #d3e9f8;
}

.modules-top__content {
  max-width: 320px;
  margin: 0 auto;
}

.modules-top__icon {
  width: 83px;
  height: 83px;
  margin: 0 auto;
  border: 0;
  position: relative;
  border-radius: 50%;
  transform: translateY(-11px);
}

.modules-top__icon .modules-top__icon--background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-2px);
}

.modules-top__icon svg {
  position: absolute;
  top: 45%;
  right: 50%;
  z-index: 2;
  transform: translateX(50%) translateY(-50%);
}

.modules-top__content a {
  text-decoration: none;
  color: currentColor;
}

.modules-top__content a:hover {
  text-decoration: underline;
}

.modules-top__content p {
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .modules-top .module {
    padding: 0 18px 18px;
  }
}

@media only screen and (max-width: 991px) {
  .modules-top {
    margin: 20px auto;
    transform: none;
  }
  .modules-top .module-4 {
    width: 50%;
  }
  .modules-top .vector-decoration {
    display: none !important;
  }
  .modules-top__object, .modules-top__object--2 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .modules-top .module {
    display: block;
    width: 100% !important;
    max-width: 290px;
    margin: 0 auto;
    height: auto !important;
  }
}

.modules-top2 {
  width: calc(100% + 15px);
  text-align: center;
  font-size: 0;
}

.modules-top2 > div {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 16px;
  padding: 16px 30px 22px;
  position: relative;
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

.modules-top2 > div:nth-child(odd) {
  border-top-color: #9f2c75;
  background-color: #bd348b;
}

.modules-top2 > div:nth-child(even) {
  border-top-color: #91286b;
  background-color: #ac307f;
}

.modules-top2 > div .vector-decoration {
  display: none;
}

.modules-top2 > div:last-child .vector-decoration {
  position: absolute;
  display: block;
  width: 65px;
  height: 51px;
  bottom: -50px;
  right: 0;
  fill: #bd348b;
}

.modules-top2 > div.module-3 {
  width: 33.3333%;
}

.modules-top2 > div.module-2 {
  width: 50%;
}

.modules-top2 > div.module-1 {
  width: 100%;
}

.modules-top2 h2 {
  font-size: 2.1rem;
  color: #ffe0f4;
  line-height: 26px;
  margin: 0 0 18px;
  position: relative;
  padding: 0 0 13px;
  text-shadow: 0px 1px 0px #9c2270;
}

.modules-top2 h2:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 1px;
  width: 127px;
  background-color: #d558a7;
}

.modules-top2__icon {
  width: 79px;
  height: 79px;
  position: relative;
  margin: 0 auto 22px;
}

.modules-top2__icon .modules-top2__icon--background {
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-2px);
  fill: #761d56;
}

.modules-top2__icon svg {
  position: absolute;
  z-index: 2;
  top: 45%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.modules-top2__content {
  color: #ffe0f4;
}

.modules-top2__content a {
  color: #ffe0f4 !important;
}

.modules-top2__content a span {
  color: #ffe0f4 !important;
}

@media only screen and (min-width: 992px) {
  .modules-top2 {
    transform: translateY(-20px);
  }
  .modules-top2.padding-top > div {
    padding-top: 36px;
    border-top-width: 2px;
    border-top-style: solid;
  }
}

@media only screen and (max-width: 991px) {
  .modules-top2 {
    width: calc(100% + 30px);
    margin: 20px auto 70px;
    transform: translateX(-15px);
  }
  .modules-top2 .vector-decoration {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .modules-top2 > div {
    display: block;
    width: 100% !important;
    max-width: 290px;
    margin: 0 auto;
    height: auto !important;
  }
}

.modules-bottom {
  padding-top: 60px;
  width: calc(100% + 15px);
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 0;
}

.modules-bottom:before, .modules-bottom:after {
  content: " ";
  display: table;
}

.modules-bottom:after {
  clear: both;
}

.modules-bottom > .modules-list > div {
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
}

.modules-bottom > .modules-list > div .vector-decoration {
  display: block;
  position: absolute;
  width: 60px;
  height: 50px;
  top: -50px;
  right: -1px;
  transform: scale(1, -1);
}

.modules-bottom > .modules-list > div:not(:last-child) .vector-decoration {
  display: none;
}

.modules-bottom > .modules-list > div:first-child {
  background-color: #6d98b7;
}

.modules-bottom > .modules-list > div:first-child .vector-decoration {
  fill: #6d98b7;
  right: 0;
}

.modules-bottom > .modules-list > div:first-child .modules-bottom__content {
  color: #d3e5f2;
}

.modules-bottom > .modules-list > div:first-child .modules-bottom__icon {
  background-color: #6d98b7;
}

.modules-bottom > .modules-list > div:first-child .modules-bottom__icon .modules-bottom__icon--background {
  fill: #2c5062;
}

.modules-bottom > .modules-list > div:first-child#mod_contact a[href^="mailto:"] {
  color: #d3e5f2 !important;
}

.modules-bottom > .modules-list > div:first-child#mod_contact a[href^="mailto:"] span {
  color: #d3e5f2 !important;
}

.modules-bottom > .modules-list > div:nth-child(2) {
  background-color: #99bfda;
}

.modules-bottom > .modules-list > div:nth-child(2) .vector-decoration {
  fill: #99bfda;
}

.modules-bottom > .modules-list > div:nth-child(2) .modules-bottom__content {
  color: #2c5062;
}

.modules-bottom > .modules-list > div:nth-child(2) .modules-bottom__icon {
  background-color: #99bfda;
}

.modules-bottom > .modules-list > div:nth-child(2) .modules-bottom__icon .modules-bottom__icon--background {
  fill: #416a7e;
}

.modules-bottom > .modules-list > div:nth-child(2)#mod_contact a[href^="mailto:"] {
  color: #2c5062 !important;
}

.modules-bottom > .modules-list > div:nth-child(2)#mod_contact a[href^="mailto:"] span {
  color: #2c5062 !important;
}

.modules-bottom > .modules-list > div:nth-child(3) {
  background-color: #b8d6ec;
  border-right: 1px solid #b0cee4;
}

.modules-bottom > .modules-list > div:nth-child(3) .vector-decoration {
  fill: #b8d6ec;
}

.modules-bottom > .modules-list > div:nth-child(3) .modules-bottom__content {
  color: #2c5062;
}

.modules-bottom > .modules-list > div:nth-child(3) .modules-bottom__icon {
  background-color: #b8d6ec;
}

.modules-bottom > .modules-list > div:nth-child(3) .modules-bottom__icon .modules-bottom__icon--background {
  fill: #416a7e;
}

.modules-bottom > .modules-list > div:nth-child(3)#mod_login .user-name a {
  color: #6f6f6f;
}

.modules-bottom > .modules-list > div:nth-child(3)#mod_contact a[href^="mailto:"] {
  color: #2c5062 !important;
}

.modules-bottom > .modules-list > div:nth-child(3)#mod_contact a[href^="mailto:"] span {
  color: #2c5062 !important;
}

.modules-bottom > .modules-list > div:last-child {
  border-bottom-right-radius: 10px;
}

.modules-bottom .module {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 16px;
  padding: 0 30px 22px;
  position: relative;
}

.modules-bottom .module-3 {
  width: 33.3333%;
}

.modules-bottom .module-2 {
  width: 50%;
}

.modules-bottom .module-1 {
  width: 100%;
}

.modules-bottom__name {
  font-size: 2.1rem;
  line-height: 26px;
  margin: -2px 0 18px;
  position: relative;
  padding: 0 0 13px;
}

.modules-bottom__name:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  max-height: 1px;
  min-height: 1px;
  width: 127px;
}

.modules-bottom__name.name-1 {
  color: #d3e5f2;
  text-shadow: 0px 1px 0px #3d5e76;
}

.modules-bottom__name.name-1:before {
  background-color: #92b5cf;
}

.modules-bottom__name.name-2 {
  color: #416a7e;
  text-shadow: 0px 1px 0px #b6e0f6;
}

.modules-bottom__name.name-2:before {
  background-color: #b1dcfb;
}

.modules-bottom__name.name-3 {
  color: #3f687d;
  text-shadow: 0px 1px 0px #b6e0f6;
}

.modules-bottom__name.name-3:before {
  background-color: #d3e9f8;
}

.modules-bottom__object {
  position: absolute;
  top: -114px;
  right: -79px;
  z-index: 3;
  fill: #bd348b;
}

.modules-bottom__content {
  max-width: 320px;
  margin: 0 auto;
}

.modules-bottom__icon {
  width: 83px;
  height: 83px;
  margin: 0 auto;
  border: 0;
  position: relative;
  border-radius: 50%;
  transform: translateY(-11px);
}

.modules-bottom__icon .modules-bottom__icon--background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-2px);
}

.modules-bottom__icon svg {
  position: absolute;
  top: 45%;
  right: 50%;
  z-index: 2;
  transform: translateX(50%) translateY(-50%);
}

.modules-bottom__content a {
  text-decoration: none;
  color: currentColor;
}

.modules-bottom__content a:hover {
  text-decoration: underline;
}

.modules-bottom__content p {
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .modules-bottom .module {
    padding: 0 18px 18px;
  }
}

@media only screen and (max-width: 991px) {
  .modules-bottom__object {
    display: none;
  }
  .modules-bottom {
    margin: 20px auto;
    width: 100%;
    transform: none;
  }
  .modules-bottom > .modules-list > div:first-child {
    border-top-left-radius: 10px;
  }
  .modules-bottom .vector-decoration {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .modules-bottom .module {
    display: block;
    width: 100% !important;
    max-width: 290px;
    margin: 0 auto;
    height: auto !important;
  }
  .modules-bottom > .modules-list > div:first-child {
    border-top-right-radius: 0;
  }
  .modules-bottom > .modules-list > div:first-child.module-1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .modules-bottom > .modules-list > div:last-child {
    border-bottom-left-radius: 0;
  }
}

#mod_calendar .clock-container {
  display: none;
}

#mod_calendar p span {
  font-family: 'Clear Sans Bold', sans-serif;
}

#mod_stats .stats-count {
  font-family: 'Clear Sans Bold', sans-serif;
}

#mod_contact p {
  margin: 0;
}

#mod_contact a[href^="mailto:"] {
  margin-top: 15px;
  color: currentColor;
  text-decoration: underline;
}

#mod_contact a[href^="mailto:"] span {
  color: currentColor !important;
}

#mod_contact a[href^="mailto:"]:hover {
  text-decoration: none;
}

#mod_forum .button {
  margin-top: 5px;
}

#mod_forum #modForum, #mod_forum .bolder {
  display: none;
}

#mod_weather {
  text-align: center;
}

#mod_weather h2 {
  text-align: left;
}

#mod_weather .weatherLoc {
  font-family: 'Droid Serif Bold', serif;
}

#mod_weather .weatherTemp {
  font-family: 'Droid Serif Bold', serif;
  font-size: 2.8rem;
}

#mod_login .user-avatar {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-avatar img {
  border: 1px solid #bd348b;
}

#mod_login .user-name {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-name a {
  text-decoration: underline;
  color: #fff;
}

#mod_login .user-name a:hover {
  text-decoration: none;
}

#mod_questionnaire {
  text-align: center;
}

#mod_questionnaire .module-content {
  color: #d3e5f2;
  font-family: 'Clear Sans Bold', sans-serif;
}

#mod_questionnaire .module-content p {
  text-align: left;
}

#mod_questionnaire .button {
  margin-top: 10px;
}

#mod_questionnaire fieldset {
  text-align: left;
}

#mod_questionnaire input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  transform: translateX(1px) translateY(1px);
  padding: 0;
  position: absolute;
}

#mod_questionnaire input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
}

#mod_questionnaire input[type="radio"] + label .radio {
  display: none;
}

#mod_questionnaire input[type="radio"] + label .label {
  font-weight: normal;
  color: #d3e5f2;
  padding: 0;
  font-size: 1.4rem;
  line-height: 18px;
  white-space: normal;
  border-radius: 0;
  width: 234px;
}

#mod_questionnaire input[type="radio"] + label:before, #mod_questionnaire input[type="radio"] + label:after {
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

#mod_questionnaire input[type="radio"] + label:before {
  display: block;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
  top: 0;
}

#mod_questionnaire input[type="radio"] + label:after {
  width: 6px;
  height: 6px;
  background-color: #446b87;
  display: none;
  left: 5px;
  top: 5px;
}

#mod_questionnaire input[type="radio"]:checked + label:after {
  display: block;
}

#mod_calendar2 .module-content {
  position: relative;
  padding: 52px 0 0;
}

#mod_calendar2 #calendarNews {
  position: relative;
}

#mod_calendar2 #calendarNews:before, #mod_calendar2 #calendarNews:after {
  content: " ";
  display: table;
}

#mod_calendar2 #calendarNews:after {
  clear: both;
}

#mod_calendar2 .calendar {
  margin: 0 auto;
  display: block;
  width: 253px;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

#mod_calendar2 .calendar a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #ffe0f4;
  color: #7a295d;
}

#mod_calendar2 .calendar a:hover {
  background-color: #7a295d;
  color: #ffe0f4;
  text-decoration: none;
}

#mod_calendar2 .calendar .pr_day {
  background-color: #972a6f;
  color: #ffe0f4 !important;
}

#mod_calendar2 .calendar td {
  width: 37px;
  height: 37px;
  line-height: 36px;
  border: 1px solid #972a6f;
}

#mod_calendar2 .calendar th {
  border-bottom: 2px solid #972a6f;
  background-color: #7a295d;
  height: 36px;
  line-height: 26px;
  border-left-width: 0;
  border-right-width: 0;
  text-transform: capitalize;
}

#mod_calendar2 .calendar th, #mod_calendar2 .calendar td {
  color: #ffe0f4;
  padding: 0;
  text-align: center;
}

#mod_calendar2 .calendar tr td:first-child {
  border-left-width: 0;
}

#mod_calendar2 .calendar tr td:last-child {
  border-right-width: 0;
}

#mod_calendar2 .calendar caption {
  font-family: 'Droid Serif Bold', serif;
  text-align: center;
  display: block;
  font-size: 1.6rem;
  width: calc(100% - 68px);
  color: #ffe0f4;
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

#mod_calendar2 .caption_nav_prev, #mod_calendar2 .caption_nav_next {
  position: absolute;
  width: 34px;
  height: 34px;
  top: -51px;
}

#mod_calendar2 .caption_nav_prev a, #mod_calendar2 .caption_nav_next a {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  border-radius: 50%;
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
  background: #385e75;
  background-image: linear-gradient(to top, #446b87 0%, #2c5062 100%);
  background-image: -ms-linear-gradient(to top, #446b87 0%, #2c5062 100%);
  text-decoration: none !important;
}

#mod_calendar2 .caption_nav_prev a:hover, #mod_calendar2 .caption_nav_prev a:focus, #mod_calendar2 .caption_nav_next a:hover, #mod_calendar2 .caption_nav_next a:focus {
  background-position: 0 -34px;
}

#mod_calendar2 .caption_nav_prev a i, #mod_calendar2 .caption_nav_next a i {
  display: none;
}

#mod_calendar2 .caption_nav_prev {
  left: 0;
}

#mod_calendar2 .caption_nav_next {
  right: 0;
}

#mod_calendar2 .calendar-arrow {
  position: absolute;
  top: 10px;
  z-index: 20;
  left: 10px;
  transition: all .3s ease;
  fill: #e8f5fd;
  position: absolute;
  pointer-events: none;
  transform: rotate(180deg) translateY(2px);
}

#mod_calendar2 .calendar-arrow.right {
  transform: none;
  left: auto;
  right: 11px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #mod_calendar2 .calendar {
    width: 100%;
  }
  #mod_calendar2 .calendar td {
    height: 26px;
    line-height: 24px;
  }
  #mod_calendar2 .calendar a {
    width: 100%;
    line-height: 26px;
    height: 26px;
  }
  #mod_calendar2 .calendar th {
    height: 26px;
    line-height: 24px;
  }
  #mod_questionnaire input[type="radio"] + label .label {
    width: 172px;
  }
}

@media only screen and (max-width: 991px) {
  #mod_questionnaire input[type="radio"] + label .label {
    width: 280px;
  }
}

@media only screen and (max-width: 767px) {
  #mod_calendar2 .calendar {
    width: 100%;
  }
  #mod_calendar2 .calendar td, #mod_calendar2 .calendar th {
    height: 34px;
    line-height: 32px;
  }
  #mod_questionnaire input[type="radio"] + label .label {
    width: 220px;
  }
}

.footer {
  position: relative;
  margin-bottom: 100px;
}

.footer:before, .footer:after {
  content: " ";
  display: table;
}

.footer:after {
  clear: both;
}

.footer__copyright {
  float: left;
  margin: 22px 0 0;
  padding: 0 0 0 40px;
  width: 250px;
  color: #446b87;
}

.footer__copyright a {
  color: currentColor;
  text-decoration: underline;
}

.footer__copyright a:hover {
  text-decoration: none;
}

.footer--mobile {
  display: none;
}

.footer__objects {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer__objects svg {
  position: absolute;
}

.footer__object--1 {
  left: calc(50% + 540px);
  z-index: 13;
  bottom: -10px;
  fill: #7cb1cc;
}

.footer__object--2 {
  z-index: 13;
  fill: #ff9fdc;
  right: calc(50% + 585px);
  top: -16px;
}

.footer__object--3 {
  z-index: 14;
  fill: #99bfda;
  right: calc(50% + 560px);
  top: -45px;
}

.footer__list {
  position: relative;
  float: left;
  width: calc(50% + 292px);
  right: 0;
  z-index: 10;
  background: #c23990;
  background-image: linear-gradient(to bottom, #bd348b 0%, #ca4198 100%);
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
  border-top-right-radius: 10px;
}

.footer__list:before, .footer__list:after {
  content: " ";
  display: table;
}

.footer__list:after {
  clear: both;
}

.footer__list .vector-decoration {
  display: block;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 40px;
  right: 0;
  bottom: -40px;
  fill: #ca4198;
}

.footer__list > ul {
  padding: 0 15px 0 36px;
  float: right;
  width: 877px;
  position: relative;
  z-index: 10;
  font-size: 0;
}

.footer__list > ul > li {
  display: inline-block;
  font-size: 1.6rem;
  max-width: 100%;
  line-height: 20px;
}

.footer__list > ul > li:last-child > a:before {
  display: none;
}

.footer__list a {
  font-family: 'Droid Serif Bold', serif;
  display: block;
  letter-spacing: 0.2px;
  padding: 14px 18px;
  color: #ffe0f4;
  text-align: center;
  position: relative;
}

.footer__list a:before {
  content: '';
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
  background-color: #ec71c0;
  box-shadow: 0px 1px 0px 0px #9c2270;
}

.footer__list a:hover, .footer__list a .selected {
  color: #ffd800;
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .footer__list > ul {
    width: 757px;
    padding: 0 15px;
  }
  .footer__list > ul a {
    padding: 10px 14px;
  }
  .footer__copyright {
    width: auto;
    padding-left: 10px;
  }
  .footer__object--1 {
    left: calc(50% + 440px);
  }
  .footer__object--2 {
    right: calc(50% + 485px);
  }
  .footer__object--3 {
    right: calc(50% + 460px);
  }
}

@media only screen and (max-width: 991px) {
  .footer__list, .footer__copyright, .footer__objects {
    display: none;
  }
  .footer--mobile {
    display: block;
  }
  .footer {
    margin-bottom: 0;
  }
  .footer, .footer--mobile {
    background-color: #bd348b;
    color: #fff;
    text-align: center;
  }
  .footer a, .footer--mobile a {
    color: currentColor;
    padding: 15px;
  }
}

.lock-object {
  fill: #db6fb4;
}

.clock-container {
  border-radius: 50%;
}

img + .delete {
  color: #446b87;
  text-decoration: underline;
  margin-left: 5px;
}

img + .delete:hover {
  text-decoration: none;
}

#crumbpath {
  padding: 0 0 20px 15px;
  color: #446b87;
}

#crumbpath a {
  text-decoration: none;
  font-family: 'Clear Sans Bold', sans-serif;
  color: #446b87;
}

#crumbpath a:hover, #crumbpath a:focus {
  text-decoration: underline;
}

#crumbpath ol {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

#crumbpath ol li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#crumbpath ol li .icon {
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
}

.pathSep {
  margin: 0 10px;
}

.here {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.files-wrapper {
  margin-top: 20px;
}

.files-wrapper:before, .files-wrapper:after {
  content: " ";
  display: table;
}

.files-wrapper:after {
  clear: both;
}

.search-list, .files-wrapper {
  margin-bottom: 30px;
}

#content_txt {
  background-color: #fff;
  padding: 30px 15px 30px 30px;
  width: calc(100% + 15px);
}

#content_txt .main-text h1, #content_txt .main-text h2, #content_txt .main-text h3, #content_txt .main-text h4, #content_txt .main-text h5, #content_txt .main-text h6 {
  font-family: 'Droid Serif Bold', serif;
  color: #bd348b;
}

#content_txt .main-text h6 {
  font-size: 1.6rem;
}

#content_txt .main-text h5 {
  font-size: 1.8rem;
}

#content_txt .main-text h4 {
  font-size: 2rem;
}

#content_txt .main-text h2 {
  margin: 15px 0;
  font-size: 2.2rem;
}

#content_txt .main-text.location iframe {
  display: block;
  margin: 0 auto;
}

#content_txt .main-text.location iframe + br + small {
  font-family: 'Clear Sans Bold', sans-serif;
  text-align: center;
  display: block;
}

#content_txt .leadArticle {
  margin-bottom: 20px;
}

#content_txt img {
  overflow: hidden;
  height: auto;
}

#content_txt .authorName {
  margin: 30px 0;
}

#content_txt .authorName span {
  font-family: 'Clear Sans Bold', sans-serif;
}

#content_txt iframe {
  border: 2px solid #1583a1;
  max-width: 100%;
  box-sizing: border-box;
}

#content_txt .Tweet, #content_txt .FBLike {
  display: inline-block;
  padding: 0;
  width: 77px;
  margin-top: 15px;
  overflow: hidden;
  min-height: 52px;
}

#content_txt .Tweet iframe, #content_txt .FBLike iframe {
  border: none;
}

#content_txt iframe ~ small a, #content_txt iframe ~ small a:visited {
  color: #446b87 !important;
  text-decoration: none !important;
}

#content_txt iframe ~ small a:hover {
  color: #446b87 !important;
  text-decoration: underline !important;
}

#content_txt .class-list li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

#content_txt .class-list li a, #content_txt .class-list li a:visited {
  color: #446b87;
  font-family: 'Clear Sans Bold', sans-serif;
}

#content_txt .class-list li a:hover {
  text-decoration: none;
}

#content_txt .class-list li a:hover span {
  text-decoration: underline;
}

#content_txt .class-list .timetable .txt-err {
  margin-bottom: 0;
  background-color: transparent;
  border-width: 0;
}

#content_txt .sitemap {
  margin: 0 0 30px 10px;
  padding: 0 0 0 10px;
  list-style: disc;
}

#content_txt .sitemap .sitemap {
  margin-bottom: 0;
}

#content_txt .sitemap li {
  margin: 10px 0;
  position: relative;
}

#content_txt .sitemap li a {
  text-decoration: none;
  color: #446b87;
}

#content_txt .sitemap li a:hover, #content_txt .sitemap li a:focus {
  text-decoration: underline;
  color: #446b87;
}

.file_input_div {
  margin: 10px 0 5px;
}

.search-lead {
  border-bottom: 1px solid #bd348b;
  padding-bottom: 15px;
}

.search-lead:empty {
  display: none;
}

.protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.protectedPage i {
  display: none;
}

.protectedPage svg {
  fill: #db6fb4;
  width: 9px;
  height: 16px;
}

.search-text h3 {
  font-family: 'Droid Serif Bold', serif;
  font-size: 1.8rem;
  margin: 10px 0;
}

.timetable {
  margin: 10px 0;
}

.timetable caption {
  font-weight: normal;
  padding: 8px 0;
  text-transform: uppercase;
}

.timetable-no {
  width: 5%;
}

.timetable-hour {
  width: 15%;
}

.timetable-lesson {
  width: 38%;
}

.timetable-teacher {
  width: 32%;
}

.timetable-room {
  width: 10%;
}

.planLp {
  text-align: center;
}

.planLesson {
  font-family: 'Clear Sans Bold', sans-serif;
}

.qAnswer {
  float: left;
  margin-top: 10px;
  font-size: 1.4rem;
  text-align: left;
  width: calc(100% - 80px);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.qPercent {
  font-family: 'Droid Serif Bold', serif;
  float: right;
  text-align: right;
  margin: 10px 0 0;
  padding: 0;
  color: #aad4ff;
  font-size: 2.5rem;
  line-height: 18px;
}

.qBar {
  background-color: #bd348b;
  border: 1px solid #aad4ff;
  border-radius: 1px;
  height: 4px;
  margin: 8px 0;
}

.questionnaireList input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  transform: translateX(1px) translateY(1px);
  padding: 0;
  position: absolute;
}

.questionnaireList input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
}

.questionnaireList input[type="radio"] + label .radio {
  display: none;
}

.questionnaireList input[type="radio"] + label .label {
  color: #6f6f6f;
  padding: 0;
  font-size: 1.4rem;
  line-height: 18px;
  white-space: normal;
  border-radius: 0;
}

.questionnaireList input[type="radio"] + label:before, .questionnaireList input[type="radio"] + label:after {
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

.questionnaireList input[type="radio"] + label:before {
  display: block;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
  top: 0;
}

.questionnaireList input[type="radio"] + label:after {
  width: 6px;
  height: 6px;
  background-color: #446b87;
  display: none;
  left: 5px;
  top: 5px;
}

.questionnaireList input[type="radio"]:checked + label:after {
  display: block;
}

.hide {
  position: absolute;
  top: 0;
  left: -9000em;
  width: 1px;
  height: 1px;
}

.clear {
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
  height: 0;
}

.noMargin {
  margin: 0;
}

.bolder {
  font-family: 'Clear Sans Bold', sans-serif;
}

img {
  border: none;
}

.rel {
  position: relative;
}

#jokes {
  margin: 0 0 40px 0;
  padding: 0;
}

#jokes li {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #bd348b;
  position: relative;
}

.jokeText {
  padding: 10px;
  color: #6f6f6f;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.jokeNick {
  background: none;
  color: #6f6f6f;
  text-align: right;
  padding: 5px 10px;
}

.jokeDate {
  color: #6f6f6f;
}

#cookiesMsgWrap {
  border-top-color: #fff !important;
  background-color: #ac307f !important;
}

#cookiesMsg {
  width: auto !important;
  padding: 10px !important;
}

#cookiesMsg p {
  color: #fff !important;
  margin: 0;
}

#cookiesMsg a {
  color: #fff !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.video iframe {
  display: block;
  margin: 0 auto;
}

.back-links li {
  margin-bottom: 5px;
}

#backLinks {
  margin: 0;
  padding: 0;
}

#backLinks li {
  list-style-type: none;
}

@media only screen and (max-width: 1199px) {
  #content_txt {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  #crumbpath {
    padding: 15px;
  }
  #content_txt {
    width: 100%;
    padding: 15px;
  }
}

@media only screen and (max-width: 767px) {
  #crumbpath {
    transform: translateX(-15px);
    width: calc(100% + 30px);
  }
  #content_txt img {
    max-width: 100% !important;
  }
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

.article-wrapper-home {
  position: relative;
}

.article-wrapper-home .article:last-of-type {
  margin-bottom: 10px;
}

.article-wrapper-home .article + .row {
  margin-top: -80px;
}

.article {
  margin: 0 0 80px;
  padding: 10px 0 10px 17px;
  border-radius: 10px;
  min-height: 239px;
  position: relative;
}

.article:before, .article:after {
  content: " ";
  display: table;
}

.article:after {
  clear: both;
}

.article.no-photo {
  min-height: 0;
}

.article.no-photo .lead-text {
  width: 100%;
}

.article.highlight-article {
  background-color: #eaf7ff;
}

.article.highlight-article .photo-wrapper svg {
  stroke: #eaf7ff;
}

.article.highlight-article h4 {
  color: #bd348b;
}

.article h4 {
  font-size: 2.2rem;
  line-height: 26px;
  margin: 13px 0 0;
  color: #446b87;
}

.article h4 a {
  color: currentColor;
  text-decoration: none;
}

.article h4 a:hover {
  text-decoration: underline;
}

.article h4 svg {
  fill: #bd348b;
  display: inline-block;
  margin-left: 8px;
}

.article .article-date {
  color: #446b87;
  padding: 0 0 0 30px;
  margin: 0 0 30px;
  position: relative;
}

.article .article-date:before {
  content: '';
  width: 22px;
  height: 1px;
  background-color: #bd348b;
  position: absolute;
  top: 50%;
  left: 0;
}

.article .lead-text {
  float: left;
  width: calc(100% - 364px);
}

.article .lead-main-text {
  color: #6f6f6f;
  line-height: 18px;
  padding-right: 30px;
  margin: 0 0 20px;
}

.article .lead-main-text a {
  color: #ac307f;
  text-decoration: underline;
}

.article .lead-main-text a:hover {
  text-decoration: none;
}

.article .lead-main-text p {
  margin: 0;
}

.article .photo-wrapper {
  float: left;
  width: 364px;
  height: 223px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.article .photo-wrapper:hover svg {
  transform: scale(1.05);
}

.article .photo-wrapper a, .article .photo-wrapper div, .article .photo-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.article .photo-wrapper svg {
  transition: all .3s ease;
  stroke: #b8d6ec;
}

@media only screen and (max-width: 1199px) {
  .article {
    margin-bottom: 30px;
  }
  .article .article-date, .article .lead-main-text {
    margin-bottom: 10px;
  }
  .article .lead-main-text {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .article {
    margin-left: 0;
    padding-left: 10px;
    min-height: 0;
  }
  .article .lead-text {
    width: calc(100% - 300px);
  }
  .article .photo-wrapper {
    width: 300px;
    height: 184px;
  }
}

@media only screen and (max-width: 767px) {
  .article {
    padding-top: 170px;
  }
  .article.no-photo {
    padding-top: 10px;
  }
  .article .lead-text {
    width: 100%;
  }
  .article .photo-wrapper {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    width: 260px;
    height: 159px;
  }
}

.pagination-wrapper {
  margin: 30px 0 30px 7px;
}

.pagination-wrapper > p {
  margin-bottom: 5px;
}

.pagination-wrapper ul {
  font-size: 0;
  margin: 0;
  transform: translateX(-3px);
  text-align: left;
}

.pagination-wrapper ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.pagination-wrapper ul li a, .pagination-wrapper ul li span {
  font-family: 'Droid Serif Bold', serif;
  font-size: 1.4rem;
  width: 34px;
  height: 34px;
  display: block;
  text-align: center;
  margin: 3px;
  line-height: 34px;
  border-radius: 50%;
  box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #eaf7ff;
}

.pagination-wrapper ul li svg {
  display: inline-block;
  vertical-align: middle;
  fill: #eaf7ff;
  transform: translateX(10%);
}

.pagination-wrapper ul li a {
  background: #385e75;
  background-image: linear-gradient(to bottom, #446b87 0%, #2c5062 100%);
  background-image: -ms-linear-gradient(to bottom, #446b87 0%, #2c5062 100%);
  text-decoration: none !important;
}

.pagination-wrapper ul li a:hover, .pagination-wrapper ul li a:focus {
  text-decoration: none !important;
  background-position: 0 -34px;
}

.pagination-wrapper ul li .page-active {
  color: #ffe0f4;
  background: #ca4298;
  background-image: linear-gradient(to bottom, #d74fa5 0%, #bd348b 100%);
  background-image: -ms-gradient(to bottom, #d74fa5 0%, #bd348b 100%);
  background-image: -o-linear-gradient(to bottom, #d74fa5 0%, #bd348b 100%);
}

.pagination-wrapper ul li .btn-prev svg, .pagination-wrapper ul li .btn-first svg {
  transform: translateX(-20%) translateY(-10%) rotate(180deg);
}

@media only screen and (max-width: 991px) {
  .pagination-wrapper {
    margin-left: 0;
  }
}

.gallery-wrapper:before, .gallery-wrapper:after {
  content: " ";
  display: table;
}

.gallery-wrapper:after {
  clear: both;
}

.gallery-wrapper .gallery {
  font-size: 0;
  text-align: center;
}

.gallery-wrapper .gallery li {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  width: 33.3333%;
}

.gallery-wrapper .gallery a {
  display: block;
  text-decoration: none;
}

.gallery-wrapper .gallery a svg {
  transition: all .3s ease;
  width: 277px;
  height: 171px;
  stroke: #b8d6ec;
}

.gallery-wrapper .gallery a:hover {
  text-decoration: none;
}

.gallery-wrapper .gallery a:hover svg {
  transform: scale(1.05);
}

.gallery-wrapper .gallery a:hover .photo-name {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #a7c5db;
}

.gallery-wrapper .photo-name {
  font-family: 'Droid Serif Bold', serif;
  transition: all .3s ease;
  transform: translateY(-14px);
  color: #fff;
  width: calc(100% - 8px);
  margin: 0 auto -14px;
  padding: 6px 10px;
  background-color: #6d98b7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media only screen and (max-width: 1199px) {
  .gallery-wrapper .gallery li {
    width: 50%;
  }
  .gallery-wrapper .gallery a svg {
    width: 341px;
    height: 211px;
  }
}

@media only screen and (max-width: 991px) {
  .gallery-wrapper .gallery li {
    width: 50%;
  }
  .gallery-wrapper .gallery a svg {
    width: 345px;
    height: 213px;
  }
}

@media only screen and (max-width: 767px) {
  .gallery-wrapper .gallery li {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  .gallery-wrapper .gallery a svg {
    width: 400px;
    height: 247px;
  }
}

@media only screen and (max-width: 479px) {
  .gallery-wrapper .gallery li {
    width: 260px;
  }
  .gallery-wrapper .gallery a svg {
    width: 260px;
    height: 161px;
  }
}

.txt_err {
  color: #ac307f;
  background-color: #ffd800;
  border: 2px solid #ac307f;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Clear Sans Bold', sans-serif;
}

.txt_msg {
  color: #6d98b7;
  border: 2px solid #6d98b7;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-family: 'Clear Sans Bold', sans-serif;
}

.txt_com {
  color: #6f6f6f;
  border: 2px solid #6f6f6f;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-family: 'Clear Sans Bold', sans-serif;
}

.txt_err p, .txt_com p, .txt_msg p {
  margin: 0;
}

#content_txt input[type="text"], #content_txt input[type="password"], #content_txt input[type="email"], #content_txt textarea {
  border-top: 1px solid #ccc;
}

#content_txt .txt_err a, #content_txt .txt_err a:visited {
  text-decoration: underline;
  color: #ac307f;
}

#content_txt .txt_err a:hover, #content_txt .txt_err a:visited:hover {
  text-decoration: none;
}

#content_txt form {
  margin-top: 20px;
}

.inError {
  background-color: #ffd800 !important;
  color: #6f6f6f !important;
}

.inText,
.inTextSmall,
.inTextArea {
  display: block;
  max-width: 340px;
  width: 100%;
}

.inText,
.inTextSmall {
  height: 41px;
}

.inTextArea {
  height: 180px;
}

.anchor {
  position: relative;
  height: 0;
  width: 0;
  top: -60px;
  display: block;
}

.formL {
  width: 150px;
  float: left;
  text-align: right;
  padding: 0 20px 0 0;
  min-height: 34px;
}

.formL label, .formL .label {
  padding: 9px 0 0;
  font-weight: normal;
  margin: 0;
  line-height: 16px;
}

.formR {
  float: right;
  width: calc(100% - 150px);
  margin: 0 0 10px 0;
  position: relative;
}

.formR:before, .formR:after {
  content: " ";
  display: table;
}

.formR:after {
  clear: both;
}

.formR.radio label {
  position: relative;
  padding: 0 20px 0 0;
  display: inline-block;
}

.formR.radio label input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  left: 1px;
}

.formR.radio label input[type="radio"] + span {
  position: relative;
  z-index: 2;
  margin: 0 0 10px;
  padding: 0 0 0 26px;
  font-size: 1.3rem;
  white-space: normal;
  border-radius: 0;
}

.formR.radio label input[type="radio"] + span:before {
  content: '';
  display: block;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.formR.radio label input[type="radio"] + span:after {
  content: '';
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #446b87;
}

.formR.radio label input[type="radio"]:checked + span:after {
  display: block;
}

.formR.login {
  padding: 0;
}

.formR p {
  margin: 10px 0;
}

.formR .msgMarg:empty {
  display: none;
}

.formR .button-wrapper {
  margin-bottom: 10px;
}

.msgMarg {
  margin: 5px 0;
  font-size: 1.2rem;
  display: inline-block;
}

.msgError {
  color: #ac307f;
}

#avatar_f {
  position: absolute;
  left: 0;
  top: -8px;
  width: 320px;
  height: 50px;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

.forumAvatarImage {
  border: 2px solid #ac307f;
  max-width: 55px !important;
  height: auto !important;
}

.avatarFrameImage {
  border: 2px solid #ac307f;
}

.asterisk {
  color: #ac307f;
  margin-right: 5px;
}

.login {
  padding-top: 5px;
  font-family: 'Clear Sans Bold', sans-serif;
}

.captchaTxt {
  margin: 0 10px 0 0;
  float: left;
  line-height: 34px;
}

.captchaTxt + input {
  width: 50px;
}

.comment {
  padding: 0;
}

@media only screen and (max-width: 639px) {
  .formL {
    width: 135px;
    padding: 0 12px 0 0;
  }
  .formR {
    width: calc(100% - 135px);
  }
}

@media only screen and (max-width: 479px) {
  .formL {
    float: none;
    width: auto;
    text-align: left;
    min-height: 0;
    padding: 0 0 5px;
  }
  .formR {
    width: 100%;
    float: none;
  }
  .formR .button-wrapper {
    margin-top: 5px;
  }
  .inText,
  .inTextSmall,
  .inTextArea {
    width: 100%;
  }
  #editForm .clear, #loginForm .clear, #registerForm .clear, #addForm .clear, #delForm .clear {
    display: none;
  }
}

#forumActions {
  float: right;
  margin: 0;
  padding: 0;
}

#forumActions li {
  float: left;
  list-style-type: none;
  margin-left: 5px;
}

.tableTopics {
  width: 100%;
  margin: 10px 0 10px 0;
}

.tableTopics th.topics, .tableTopics th.responds, .tableTopics td.topics, .tableTopics td.responds {
  text-align: center;
  width: 100px;
}

.tableTopics p {
  margin: 0;
}

#content_txt .topicLink, #content_txt .topicLink:visited {
  color: #446b87;
  text-decoration: underline;
}

#content_txt .topicLink:hover, #content_txt .topicLink:visited:hover {
  text-decoration: none;
}

.respondButtonList {
  margin: 10px 0;
}

.respondButtonList li {
  list-style-type: none;
  float: left;
  border: none !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.forum-wrapper .subHead {
  padding-bottom: 0;
}

.forum-wrapper .subHead:before {
  display: none;
}

.forum-wrapper .author {
  display: block;
  color: #6f6f6f;
  word-wrap: break-word;
  padding-top: 10px;
}

.forum-threads-wrapper {
  margin: 50px 0;
  border-top: 2px solid #1583a1;
  padding: 0 0 25px;
  border-bottom: 2px solid #1583a1;
}

.forum-answers-wrapper {
  margin: 50px 0;
}

.listPosts {
  margin: 0;
  padding: 0;
}

.listPosts li {
  list-style-type: none;
  border-bottom: 2px solid #1583a1;
}

.listPosts > li {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.topicText, .postText {
  padding: 10px 0;
  position: relative;
}

.topicAuthor, .postAuthor {
  padding: 0 0 10px 0;
  float: left;
  width: 90px;
  text-align: center;
  position: relative;
  margin: 10px 0 0 0;
}

.topicDate, .postDate {
  position: absolute;
  right: 0;
  top: 20px;
  color: #6f6f6f;
}

.topicHour, .postHour {
  position: absolute;
  right: 0;
  top: 35px;
  color: #6f6f6f;
}

.topicContent, .postContent {
  padding: 10px;
  float: left;
  width: 530px;
  color: #6f6f6f;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 767px) {
  .forum-threads-wrapper {
    margin: 30px 0;
  }
  .forum-answers-wrapper {
    margin: 30px 0;
  }
  .tableTopics th.topics, .tableTopics th.responds, .tableTopics td.topics, .tableTopics td.responds {
    width: 85px;
  }
}

#advertsLeftContent {
  margin-bottom: 30px;
  width: calc(100% - 15px);
}

.advertTop, .advertLeft {
  text-align: center;
  padding: 15px;
}

.advertTop iframe, .advertTop object, .advertLeft iframe, .advertLeft object {
  max-width: 100%;
  height: auto;
}

.advertTop table, .advertLeft table {
  margin: 5px auto;
  max-width: 700px;
}

.advertTop img, .advertLeft img {
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
  display: block;
}

.advertTop a, .advertLeft a {
  text-decoration: underline;
}

.advertTop a:hover, .advertTop a:focus, .advertLeft a:hover, .advertLeft a:focus {
  text-decoration: none;
}

.advertTop img {
  max-width: 700px;
}

.advertLeft img {
  max-width: 262px;
}

@media only screen and (max-width: 1199px) {
  #advertsLeftContent {
    width: 100%;
  }
  .advertLeft img {
    max-width: 197px;
  }
}

@media only screen and (max-width: 991px) {
  .advertTop img {
    max-width: 100%;
  }
  .advertLeft img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 359px) {
  .advertLeft img {
    max-width: 260px;
  }
}

#icon-calendar .icon-calendar__path--1 {
  fill: #cde3f1;
}

#icon-calendar .icon-calendar__path--2 {
  fill: #538eb9;
}

#icon-calendar .icon-calendar__path--3 {
  fill: #bd348b;
}

#icon-stats .icon-stats__path--1 {
  fill: #538eb9;
}

#icon-stats .icon-stats__path--2 {
  fill: #538eb9;
}

#icon-stats .icon-stats__path--3 {
  fill: #538eb9;
}

#icon-stats .icon-stats__path--4 {
  fill: #bd348b;
}

#icon-stats .icon-stats__path--5 {
  fill: #bd348b;
}

#icon-stats .icon-stats__path--6 {
  fill: #bd348b;
}

#icon-stats .icon-stats__path--7 {
  fill: #bd348b;
}

#icon-kzk .icon-kzk__path--1 {
  fill: #cde3f1;
}

#icon-kzk .icon-kzk__path--2 {
  fill: #e3f0f9;
}

#icon-kzk .icon-kzk__path--3 {
  fill: #538eb9;
}

#icon-kzk .icon-kzk__path--4 {
  fill: #538eb9;
}

#icon-kzk .icon-kzk__path--5 {
  fill: #bd348b;
}

#icon-kzk .icon-kzk__path--6 {
  fill: #538eb9;
}

#icon-location .icon-location__path--1 {
  fill: #2c5062;
}

#icon-location .icon-location__path--2 {
  fill: #cde3f1;
}

#icon-location .icon-location__path--3 {
  fill: #bd348b;
}

#icon-location .icon-location__path--4 {
  fill: #da4fa7;
}

#icon-menu .icon-menu__path--1 {
  fill: #ecc800;
}

#icon-menu .icon-menu__path--2 {
  fill: #ffd800;
}

#icon-menu .icon-menu__path--3 {
  fill: #ecc800;
}

#icon-newsletter .icon-newsletter__path--1 {
  fill: #cde3f1;
}

#icon-newsletter .icon-newsletter__path--2 {
  fill: #538eb9;
}

#icon-newsletter .icon-newsletter__path--3 {
  fill: #538eb9;
}

#icon-programs .icon-programs__path--1 {
  fill: #cde3f1;
}

#icon-programs .icon-programs__path--2 {
  fill: #538eb9;
}

#icon-programs .icon-programs__path--3 {
  fill: #538eb9;
}

#icon-gallery .icon-gallery__path--1 {
  fill: #e3f0f9;
}

#icon-gallery .icon-gallery__path--2 {
  fill: #416a7e;
}

#icon-gallery .icon-gallery__path--3 {
  fill: #439c45;
  transform: scale(0.9);
  transform-origin: bottom center;
}

#icon-gallery .icon-gallery__path--4 {
  fill: #ffd800;
}

#icon-contact .icon-contact__path--1 {
  fill: #eaf7ff;
}

#icon-contact .icon-contact__path--2 {
  fill: #d1e4ef;
}

#icon-contact .icon-contact__path--3 {
  fill: #f4fbff;
}

#icon-forum .icon-forum__path--1 {
  fill: #bd348b;
}

#icon-forum .icon-forum__path--2 {
  fill: #cde3f1;
}

#icon-forum .icon-forum__path--3 {
  fill: #446b87;
}

#icon-login .icon-login__path--1 {
  fill: #cde3f1;
}

#icon-login .icon-login__path--2 {
  fill: #446b87;
}

#icon-login .icon-login__path--3 {
  fill: #bd348b;
}

#icon-timetable .icon-timetable__path--1 {
  fill: #cde3f1;
}

#icon-timetable .icon-timetable__path--2 {
  fill: #538eb9;
}

#icon-timetable .icon-timetable__path--3 {
  fill: #99bfda;
}

#icon-timetable .icon-timetable__path--4 {
  fill: #bd348b;
}

#icon-timetable .icon-timetable__path--5 {
  fill: #bd348b;
}

#icon-video .icon-video__path--1 {
  fill: #bd348b;
}

#icon-video .icon-video__path--2 {
  fill: #c7dfee;
}

#icon-jokes .icon-jokes__path--1 {
  fill: #ffd800;
}

#icon-jokes .icon-jokes__path--2 {
  fill: #bd348b;
}

#icon-jokes .icon-jokes__path--3 {
  fill: #2c5062;
}
