@font-face {
    font-family: 'chalk';
    src: url("../fonts/chalk.eot");
    src: local("☺"),
        url("../fonts/chalk.woff") format("woff"),
        url("../fonts/chalk.ttf") format("truetype"),
        url("../fonts/chalk.svg#chalk") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?4929588");
    src: url("../fonts/fontello.eot?4929588#iefix")format("embedded-opentype"),
         url("../fonts/fontello.woff2?4929588") format("woff2"),
         url("../fonts/fontello.woff?4929588") format("woff"),
         url("../fonts/fontello.ttf?4929588") format("truetype"),
         url("../fonts/fontello.svg?4929588#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans Bold';
    src: url('../fonts/ClearSans-Bold-webfont.eot');
    src: url('../fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/DroidSerif-Regular-webfont.eot');
    src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif Bold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-left-open-big:before {
    content: '\e800'
}
.icon-right-open-big:before {
    content: '\e801'
}
.icon-up-open-big:before {
    content: '\e802'
}
.icon-down-open-big:before {
    content: '\e803'
}
.icon-quote:before {
    content: '\e804'
}
.icon-calendar:before {
    content: '\e805'
}
.icon-emo-happy:before {
    content: '\e806'
}
.icon-cancel:before {
    content: '\e807'
}
.icon-clock:before {
    content: '\e808'
}
.icon-menu:before {
    content: '\e819'
}
.icon-font-default:before {
    content: '\e81b'
}
.icon-font-bigger:before {
    content: '\e81c'
}
.icon-font-biggest:before {
    content: '\e81d'
}
.icon-contrast:before {
    content: '\e81e'
}
.icon-protected:before {
    content: '\e81f'
}
.icon-search:before {
    content: '\e820'
}
.icon-doc-text-inv:before {
    content: '\f15c'
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body#tinymce {
    margin: 0;
    padding: 20px;
    background: #fff !important;
    font-family: 'Clear Sans', serif;
    color: #6f6f6f;
    font-weight: 400;
    font-size: 14px;
}
body#tinymce::before {
    display: none;
}
body#tinymce p {
    margin: 0 0 10px;
}
body#tinymce a {
    color: #ac307f;
    font-weight: normal;
    outline: none;
}
body#tinymce a:link,
body#tinymce a:visited {
    text-decoration: underline;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: none;
}
body#tinymce img {
    max-width: 100%;
    height: auto;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    font-family: 'Droid Serif Bold', serif;
    font-weight: normal;
    line-height: 1.1;
    color: #bd348b;
}
body#tinymce h1 {
    font-size: 36px;
}
body#tinymce h2 {
    font-size: 27px;
}
body#tinymce h3 {
    font-size: 24px;
}
body#tinymce h4 {
    font-size: 20px;
}
body#tinymce h5 {
    font-size: 18px;
}
body#tinymce h6 {
    font-size: 16px;
}
body#tinymce table {
    width: 100%; 
    margin: 10px 0;
    table-layout: fixed;
    border-collapse: collapse;
} 
body#tinymce table caption {
    font-weight: normal;
    font-family: 'Clear Sans Bold', sans-serif;
    text-align: left;
    padding: 8px 0;
    font-size: 14px;
}
body#tinymce table td, body#tinymce table th {
    padding: 5px;
    border: 1px solid #446b87;
    font-size: 14px;
    text-align: left;
}
body#tinymce table td {
    color: #6f6f6f;
}
body#tinymce table th {
    background-color: #446b87;
    color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
}
body#tinymce table tr th:first-child, body#tinymce table td:first-child {
    border-left-width: 0;          
}
body#tinymce table tr th:last-child, body#tinymce table td:last-child {
    border-right-width: 0;
}
body#tinymce blockquote {
    border-left: 3px solid #6f6f6f;
    padding: 0 0 0 10px;
    color: #6f6f6f;
    margin: 0;
}
body#tinymce blockquote p {
    margin: 0;
}
body#tinymce cite {
    font-style: normal;
    color: #6f6f6f;
    border: none;
}