#advertsLeftContent {
	margin-bottom: 30px;
	width: calc(100% - 15px);
}
.advertTop, .advertLeft {
	text-align: center;
	padding: 15px;
	iframe, object {
		max-width: 100%; 
		height: auto;
	}
	table {
		margin: 5px auto;
		max-width: 700px;
	}
	img {
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
		display: block;
	}
	a {
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.advertTop {
	img {
		max-width: 700px;
	}
}
.advertLeft {
	img {
		max-width: 262px;
	}
}
@media only screen and (max-width: 1199px) {
	#advertsLeftContent {
		width: 100%;
	}
	.advertLeft {
		img {
			max-width: 197px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.advertTop {
		img {
			max-width: 100%;
		}
	}
    .advertLeft {
    	img {
    		max-width: 300px; 
    	}
    }
}
@media only screen and (max-width: 359px) {
    .advertLeft {
    	img {
    		max-width: 260px; 
    	}
    }
}