#welcome {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.article-wrapper-home {
    position: relative;
    .article {
        &:last-of-type {
            margin-bottom: 10px;
        }
        & + .row {
            margin-top: -80px;
        }
    }
}
.article {
    @include clearfix();
    margin: 0 0 80px;
    padding: 10px 0 10px 17px;
    border-radius: 10px;
    min-height: 239px;
    position: relative;
    &.no-photo {
        min-height: 0;
        .lead-text {
            width: 100%;
        }
    }
    &.highlight-article {
        background-color: #eaf7ff;
        .photo-wrapper {
            svg {
                stroke: #eaf7ff;
            }
        }
        h4 {
            color: #bd348b;
        }
    }
    h4 {
        font-size: 2.2rem;
        line-height: 26px;
        margin: 13px 0 0;
        color: #446b87;
        a {
            color: currentColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        svg {
            fill: rgb(189, 52, 139);
            display: inline-block;
            margin-left: 8px;
        }
    }
    .article-date {
        color: #446b87;
        padding: 0 0 0 30px;
        margin: 0 0 30px;
        position: relative;
        &:before {
            content: '';
            width: 22px;
            height: 1px;
            background-color: #bd348b;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
    .lead-text {
        float: left;
        width: calc(100% - 364px);
    }
    .lead-main-text {
        color: #6f6f6f;
        line-height: 18px;
        padding-right: 30px;
        margin: 0 0 20px;
        a {
            color: #ac307f;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        p {
            margin: 0;
        }
    }
    .photo-wrapper {
        float: left;
        width: 364px;
        height: 223px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
        &:hover {
            svg {
                transform: scale(1.05);
            }
        }
        a, div, svg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        svg {
            transition: all .3s ease;
            stroke: rgb(184, 214, 236);
        }
    }
}
@media only screen and (max-width: 1199px) {
    .article {
        margin-bottom: 30px;
        .article-date, .lead-main-text {
            margin-bottom: 10px;
        }
        .lead-main-text {
            padding-right: 15px;
        }
    }
}
@media only screen and (max-width: 991px) {
    .article {
        margin-left: 0;
        padding-left: 10px;
        min-height: 0;
        .lead-text {
            width: calc(100% - 300px);
        }
        .photo-wrapper {
            width: 300px;
            height: 184px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .article {
        padding-top: 170px;
        &.no-photo {
            padding-top: 10px;
        }
        .lead-text {
            width: 100%;    
        }
        .photo-wrapper {
            position: absolute;
            left: 50%;
            top: -20px;
            transform: translateX(-50%);
            width: 260px;
            height: 159px;
        }
    }
}