.footer {
    @include clearfix();
    position: relative;
	margin-bottom: 100px;
}
.footer__copyright {
	float: left;
	margin: 22px 0 0;
	padding: 0 0 0 40px;
	width: 250px;
	color: #446b87;
	a {
		color: currentColor;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.footer--mobile {
	display: none;
}
.footer__objects {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	svg {
		position: absolute;
	}
}
.footer__object--1 {
	left: calc(50% + 540px);
	z-index: 13;
	bottom: -10px;
	fill: rgb(124, 177, 204);
}
.footer__object--2 {
	z-index: 13;
	fill: rgb(255, 159, 220);
	right: calc(50% + 585px); 
	top: -16px;
}
.footer__object--3 {
	z-index: 14;
	fill: rgb(153, 191, 218);
	right: calc(50% + 560px);
	top: -45px;
}
.footer__list {
    @include clearfix();
    position: relative;
    float: left;
    width: calc(50% + 292px);
    right: 0;
    z-index: 10;
    background: #c23990;
    background-image: -webkit-linear-gradient(top, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    background-image: -o-linear-gradient(top, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    background-image: linear-gradient(to bottom, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
    border-top-right-radius: 10px;
    .vector-decoration {
        display: block;
        position: absolute;
        z-index: 10;
        width: 50px;
        height: 40px;
        right: 0;
        bottom: -40px;
        fill: #ca4198;
    }
    & > ul {
        padding: 0 15px 0 36px;
        float: right;
        width: 877px;
        position: relative;
        z-index: 10;
        font-size: 0;
        & > li {
            display: inline-block;
            font-size: 1.6rem;
            max-width: 100%;
            line-height: 20px;
            &:last-child {
                & > a {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    a {
        font-family: 'Droid Serif Bold', serif;
        display: block;
        letter-spacing: 0.2px;
        padding: 14px 18px;
        color: #ffe0f4;
        text-align: center;
        position: relative;
        &:before {
            content: '';
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            right: -2px;
            transform: translateY(-50%);
            background-color: rgb(236, 113, 192);
            box-shadow: 0px 1px 0px 0px rgba(156, 34, 112, 1);
        }
        &:hover, .selected {
            color: $attention;
            text-decoration: none;
        }
    }
}
@media only screen and (max-width: 1199px) {
    .footer__list {
        & > ul {
            width: 757px;
            padding: 0 15px;
            a {
                padding: 10px 14px;
            }
        }
    }
    .footer__copyright {
    	width: auto;
    	padding-left: 10px;
    }
    .footer__object--1 {
		left: calc(50% + 440px);
	}
	.footer__object--2 {
		right: calc(50% + 485px); 
	}
	.footer__object--3 {
		right: calc(50% + 460px);
	}
}
@media only screen and (max-width: 991px) {
	.footer__list, .footer__copyright, .footer__objects {
		display: none;
	}
	.footer--mobile {
		display: block;
	}
	.footer {
		margin-bottom: 0;
	}
	.footer, .footer--mobile {
		background-color: #bd348b;
		color: #fff;
		text-align: center;
		a {
			color: currentColor;
			padding: 15px;
		}
	}
}