#forumActions {
	float: right;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style-type: none;
		margin-left: 5px;
	}
}

.tableTopics {
	width: 100%;
	margin: 10px 0 10px 0;
	th, td {
		&.topics, &.responds {
			text-align: center;
			width: 100px;
		}
	}
	p {
		margin: 0;
	}
}
#content_txt {
	.topicLink, .topicLink:visited {
		color: #446b87;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.respondButtonList {
	margin: 10px 0;
	li {
		list-style-type: none;
		float: left;
		border: none !important;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.forum-wrapper {
	.subHead {
		padding-bottom: 0;
		&:before {
			display: none;
		}
	}
	.author {
		display: block;
		color: $base;
		word-wrap: break-word;
		padding-top: 10px;
	}
}
.forum-threads-wrapper {
	margin: 50px 0;
	border-top: 2px solid #1583a1;
	padding: 0 0 25px;
	border-bottom: 2px solid #1583a1;
}
.forum-answers-wrapper {
	margin: 50px 0;
}

.listPosts {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		border-bottom: 2px solid #1583a1;
	}
	& > li {
		margin-bottom: 20px;
		padding-bottom: 25px;
	}
}
.topicText, .postText {
	padding: 10px 0;
	position: relative
}
.topicAuthor, .postAuthor {
	padding: 0 0 10px 0;
	float: left;
	width: 90px;
	text-align: center;
	position: relative;
	margin: 10px 0 0 0;
}
.topicDate, .postDate {
	position: absolute;
	right: 0;
	top: 20px;
	color: $base;
}
.topicHour, .postHour {
	position: absolute;
	right: 0;
	top: 35px;
	color: $base;
}
.topicContent, .postContent {
	padding: 10px;
	float: left;
	width: 530px;
	color: $base;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
@media only screen and (max-width: 767px) {
    .forum-threads-wrapper {
    	margin: 30px 0;
   	}
    .forum-answers-wrapper {
    	margin: 30px 0;
	}
	.tableTopics {
		th, td {
			&.topics, &.responds {
				width: 85px;
			}
		}
	}
}