.gallery-wrapper {
	@include clearfix();
    .gallery {
    	font-size: 0;
    	text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			font-size: 1.4rem;
			width: 33.3333%;
        }
		a {
			display: block;
			text-decoration: none;
			svg {
				transition: all .3s ease;
				width: 277px;
				height: 171px;
                stroke: #b8d6ec;
            }
            &:hover {
            	text-decoration: none;
            	svg {
            		transform: scale(1.05);
            	}
            	.photo-name {
            		border-top-left-radius: 6px;
            		border-top-right-radius: 6px;
            		background-color: #b8d6ec - #111;
            	}
            }
    	}
    }
    .photo-name {
    	font-family: 'Droid Serif Bold', serif;
    	transition: all .3s ease;
    	transform: translateY(-14px);
    	color: #fff;
    	width: calc(100% - 8px);
    	margin: 0 auto -14px;
    	padding: 6px 10px;
    	background-color: #6d98b7;
    	border-bottom-left-radius: 6px;
    	border-bottom-right-radius: 6px;
    }
}
@media only screen and (max-width: 1199px) {
	.gallery-wrapper {
		.gallery {
			li {
				width: 50%;
			}
			a {
				svg {
					width: 341px;
					height: 211px;
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.gallery-wrapper {
		.gallery {
			li {
				width: 50%;
			}
			a {
				svg {
					width: 345px;
					height: 213px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.gallery-wrapper {
		.gallery {
			li {
				display: block;
				margin: 0 auto;
				width: 400px;
			}
			a {
				svg {
					width: 400px;
					height: 247px;
				}
			}
		}
	}
}
@media only screen and (max-width: 479px) {
	.gallery-wrapper {
		.gallery {
			li {
				width: 260px;
			}
			a {
				svg {
					width: 260px;
					height: 161px;
				}
			}
		}
	}
}