.header {
	pointer-events: none;
	transform: translateY(-80px);
	margin: 0 auto -120px;
	width: 1202px;
	position: relative;
	z-index: 2;
	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -250px;
		z-index: 1;
		right: 0;
		width: 15px;
		height: 300px;
		background-color: #fff;
	}
	&.no-menu {
		transform: translateY(-30px);
	}
}
#banner {
	position: relative;
	z-index: 3;
	width: 1202px;
	height: 555px;
	svg {
		width: 1202px;
		height: 555px;
	}
}
.header__objects {
	svg {
		position: absolute;
	}
}
.header__objects--1 {
	z-index: 8;
	fill: rgb(124, 177, 204); 
	top: 98px;
	left: -17px;
}
.header__objects--2 {
	z-index: 8;
	bottom: 171px;
	right: 105px;
	fill: rgb(184, 214, 236);
}
.header__objects--3 {
	z-index: 7;
	right: -9px;
	bottom: 131px;
	fill: rgb(124, 177, 204);
}
.header__objects--4 {
	z-index: 8;
	right: -33px;
	bottom: -28px;
	fill: rgb(124, 177, 204);
}
.header__objects--5 {
	z-index: 7;
	right: -73px;
	bottom: -85px;
	fill: rgb(189, 52, 139);
}
@media only screen and (max-width: 1199px) {
	.header {
		width: 970px;
		&:before {
			display: none;
		}
	}
	#banner {
		width: 970px;
		height: 448px;
		svg {
			width: 970px;
			height: 448px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.header {
		width: 750px;
		transform: none;
		margin: 0 auto;
		&.no-menu {
			transform: none;
		}
	}
	#banner {
		width: 750px;
		height: 346px;
		svg {
			width: 750px;
			height: 346px;
		}
	}
}
@media only screen and (max-width: 767px) {
	.header {
		width: 100%;
	}
	#banner {
		width: 100%;
		height: auto;
		svg {
			width: 100%;
			height: auto;
		}
	}
	.header__objects {
		svg {
			transform: scale(0.8);
		}
	}
	.header__objects--4 {
		right: 72px;
		bottom: 61px;
	}
	.header__objects--5 {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (max-width: 479px) {
	.header__objects {
		svg {
			transform: scale(0.6);
		}
	}
	.header__objects--2 {
		top: 5px;
		bottom: auto;
		right: 78px;
	}
	.header__objects--3 {
		top: 10px;
		bottom: auto;
	}
}
@media only screen and (max-width: 400px) {
	.header__objects {
		display: none;
	}
}