#icon-calendar {
	.icon-calendar__path--1 {
		fill: rgb(205, 227, 241);
	}	
	.icon-calendar__path--2 {
		fill: rgb(83, 142, 185);
	}	
	.icon-calendar__path--3 {
		fill: rgb(189, 52, 139);
	}	
}
#icon-stats {
	.icon-stats__path--1 {
		fill: rgb(83, 142, 185);
	}
	.icon-stats__path--2 {
		fill: rgb(83, 142, 185);
	}
	.icon-stats__path--3 {
		fill: rgb(83, 142, 185);
	}
	.icon-stats__path--4 {
		fill: rgb(189, 52, 139);
	}
	.icon-stats__path--5 {
		fill: rgb(189, 52, 139);
	}
	.icon-stats__path--6 {
		fill: rgb(189, 52, 139);
	}
	.icon-stats__path--7 {
		fill: rgb(189, 52, 139);
	}
}
#icon-kzk {
	.icon-kzk__path--1 {
		fill: rgb(205, 227, 241);
	}
	.icon-kzk__path--2 {
		fill: rgb(227, 240, 249);
	}
	.icon-kzk__path--3 {
		fill: rgb(83, 142, 185);
	}
	.icon-kzk__path--4 {
		fill: rgb(83, 142, 185);
	}
	.icon-kzk__path--5 {
		fill: rgb(189, 52, 139);
	}
	.icon-kzk__path--6 {
		fill: rgb(83, 142, 185);
	}
}
#icon-location {
	.icon-location__path--1 {
		fill: rgb(44, 80, 98);
	}
	.icon-location__path--2 {
		fill: rgb(205, 227, 241);
	}
	.icon-location__path--3 {
		fill: rgb(189, 52, 139);
	}
	.icon-location__path--4 {
		fill: rgb(218, 79, 167);
	}
}
#icon-menu {
	.icon-menu__path--1 {
		fill: rgb(236, 200, 0);
	}
	.icon-menu__path--2 {
		fill: rgb(255, 216, 0);
	}
	.icon-menu__path--3 {
		fill: rgb(236, 200, 0);
	}
}
#icon-newsletter {
	.icon-newsletter__path--1 {
		fill: rgb(205, 227, 241);
	}
	.icon-newsletter__path--2 {
		fill: rgb(83, 142, 185);
	}
	.icon-newsletter__path--3 {
		fill: rgb(83, 142, 185);
	}
}
#icon-programs {
	.icon-programs__path--1 {
		fill: rgb(205, 227, 241);
	}
	.icon-programs__path--2 {
		fill: rgb(83, 142, 185);
	}
	.icon-programs__path--3 {
		fill: rgb(83, 142, 185);
	}
}
#icon-gallery {
	.icon-gallery__path--1 {
		fill: rgb(227, 240, 249);
	}
	.icon-gallery__path--2 {
		fill: rgb(65, 106, 126);
	}
	.icon-gallery__path--3 {
		fill: rgb(67, 156, 69);
		transform: scale(0.9);
		transform-origin: bottom center;
	}
	.icon-gallery__path--4 {
		fill: rgb(255, 216, 0);
	}
}
#icon-contact {
	.icon-contact__path--1 {
		fill: rgb(234, 247, 255);
	}
	.icon-contact__path--2 {
		fill: rgb(209, 228, 239);
	}
	.icon-contact__path--3 {
		fill: rgb(244, 251, 255);
	}
}
#icon-forum {
	.icon-forum__path--1 {
		fill: rgb(189, 52, 139);
	}
	.icon-forum__path--2 {
		fill: rgb(205, 227, 241);
	}
	.icon-forum__path--3 {
		fill: rgb(68, 107, 135);
	}
}
#icon-login {
	.icon-login__path--1 {
		fill: rgb(205, 227, 241);
	}
	.icon-login__path--2 {
		fill: rgb(68, 107, 135);
	}
	.icon-login__path--3 {
		fill: rgb(189, 52, 139);
	}
}
#icon-timetable {
	.icon-timetable__path--1 {
		fill: rgb(205, 227, 241);
	}
	.icon-timetable__path--2 {
		fill: rgb(83, 142, 185);
	}
	.icon-timetable__path--3 {
		fill: rgb(153, 191, 218);
	}
	.icon-timetable__path--4 {
		fill: rgb(189, 52, 139);
	}
	.icon-timetable__path--5 {
		fill: rgb(189, 52, 139);
	}
}
#icon-video {
	.icon-video__path--1 {
		fill: rgb(189, 52, 139);
	}
	.icon-video__path--2 {
		fill: rgb(199, 223, 238);
	}
}
#icon-jokes {
	.icon-jokes__path--1 {
		fill: rgb(255, 216, 0);
	}
	.icon-jokes__path--2 {
		fill: rgb(189, 52, 139);
	}
	.icon-jokes__path--3 {
		fill: rgb(44, 80, 98);
	}
}