.menu-top {
    @include clearfix();
}
#navbar-top {
    @include clearfix();
    position: relative;
    float: right;
    width: calc(50% + 292px);
    right: 0;
    z-index: 10;
    background: #c23990;
    background-image: -webkit-linear-gradient(top, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    background-image: -o-linear-gradient(top, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    background-image: linear-gradient(to bottom, rgb(189,52,139) 0%, rgb(202,65,152) 100%);
    box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
    border-top-left-radius: 10px;
    .vector-decoration {
        transform: rotate(-90deg);
        display: block;
        position: absolute;
        z-index: 10;
        width: 50px;
        height: 50px;
        left: 0;
        bottom: -50px;
        fill: #ca4198;
    }
    & > ul {
        padding: 0 15px 0 36px;
        float: left;
        width: 877px;
        position: relative;
        z-index: 10;
        font-size: 0;
        & > li {
            display: inline-block;
            font-size: 1.6rem;
            line-height: 20px;
            max-width: 100%;
            &:first-child {
                & > a {
                    &:before {
                        display: none;
                    }
                }
            }
            .dropdown-menu {
                z-index: 20;
                left: 50%;
                border-radius: 10px;
                transform: translateX(-50%);
                float: none;
                width: 240px;
                font-size: 1.6rem;
                line-height: 20px;
                background: #c23990;
                border: 0;
                & > li {
                    width: 100%;
                    &:first-child {
                        & > a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                a {
                    &:before {
                        top: -2.5px;
                        left: calc(50% - 2.5px);
                    }
                }
            }
        }
    }
    a {
        font-family: 'Droid Serif Bold', serif;
        display: block;
        letter-spacing: 0.2px;
        padding: 14px 18px;
        color: #ffe0f4;
        text-align: center;
        position: relative;
        &:before {
            content: '';
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            left: -2px;
            transform: translateY(-50%);
            background-color: rgb(236, 113, 192);
            box-shadow: 0px 1px 0px 0px rgba(156, 34, 112, 1);
        }
        &:hover, .selected {
            color: $attention;
            text-decoration: none;
        }
        &:focus {
            outline: 0;
        }
    }
}
@media only screen and (max-width: 1199px) {
    #navbar-top {
        & > ul {
            width: 757px;
            padding: 0 15px;
            & > li {
                .dropdown-menu {
                    width: 210px;
                }
            }
            a {
                padding: 10px 14px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .menu-top {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        z-index: 20;
        border-radius: 0;
        background: #c23990;
        background-image: -webkit-linear-gradient(left, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
        background-image: -o-linear-gradient(left, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
        background-image: linear-gradient(to right, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
    }
    .navbar-header {
        width: 100%;
        float: none;
        border: 0;
        border-radius: 0;
        height: 50px;
    }   
    .navbar-toggle {
        float: none;
        display: block;
        width: 100%;
        padding: 13px 15px;
        margin: 0;
        i {
            margin-left: 0;
            pointer-events: none;
            transition: all .3s ease;
            display: block;
            width: 36px;
            height: 3px;
            background-color: #fff;
            &:not(:last-of-type) {
                margin-bottom: 7px;
            }
        }
        &[aria-expanded="true"] {
            i {
                &:first-of-type {
                    transform: rotate(45deg) translateX(8px) translateY(7px);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: rotate(-45deg)  translateX(7px) translateY(-6px);
                }
            }
        }
    }
    #navbar-top {
        width: 100%;
        float: none;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        background-image: none;
        .vector-decoration {
            display: none;
        }
        & > ul {
            transition: all .1s ease;
            height: 0;
            opacity: 0;
            width: 100%;
            pointer-events: none;
            & > li {
                display: block;
                a {
                    padding-left: 0;
                    padding-right: 0;
                }
                .dropdown-menu {
                    position: static;
                    box-shadow: none;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    transform: none;
                    width: 100%;
                    & > li {
                        &:first-child {
                            & > a {
                                &:before {
                                    display: block;
                                }
                            }
                        }
                    }
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
        a {
            &:before {
                top: -2.5px;
                left: calc(50% - 2.5px);
            }
        }
        &.in {
            display: block;
            & > ul {
                opacity: 1;
                pointer-events: auto;
                border-top: 3px solid #fff;
                height: auto;
                padding: 4px 0;
            }
        }
    }
}