.lock-object {
	fill: rgb(219, 111, 180);
}
.clock-container {
	border-radius: 50%;
}
img + .delete {
	color: #446b87;
	text-decoration: underline;
	margin-left: 5px;
	&:hover {
		text-decoration: none;
	}
}
#crumbpath {
	padding: 0 0 20px 15px; 
	color: #446b87;
	a {
		text-decoration: none; 
		font-family: 'Clear Sans Bold', sans-serif;	
		color: #446b87;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	ol {
	    display: inline;
	    margin-bottom: 0;
	    vertical-align: top;
		li {
		    display: inline;
		    padding-left: 5px;
		    padding-right: 5px;
			.icon {
			    font-size: 12px;
			    margin-left: 0;
			    margin-right: 10px;
			}
		}
	}
}
.pathSep {
	margin: 0 10px;
}
.here {
	display: inline-block; 
	vertical-align: top; 
	margin-right: 15px;
}
.files-wrapper {
	@include clearfix();
	margin-top: 20px;
}
.search-list, .files-wrapper {
	margin-bottom: 30px;
}
#content_txt {
	background-color: #fff;
	padding: 30px 15px 30px 30px;
	width: calc(100% + 15px);
	.main-text {
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Droid Serif Bold', serif;
			color: #bd348b;
		}
		h6 {
			font-size: 1.6rem;
		}
		h5 {
			font-size: 1.8rem;
		}
		h4 {
			font-size: 2rem;
		}
		h2 {
			margin: 15px 0;
			font-size: 2.2rem;
		}
		&.location {
			iframe {
				display: block; 
				margin: 0 auto;
				& + br + small {
					font-family: 'Clear Sans Bold', sans-serif;	
					text-align: center;
					display: block;
				}
			}
		}
	}
	.leadArticle {
		margin-bottom: 20px;
	}	
    img {
        overflow: hidden; 
        height: auto;
    }
    .authorName {
        margin: 30px 0;
    }
    .authorName span {
        font-family: 'Clear Sans Bold', sans-serif;	
    }
    iframe {
        border: 2px solid #1583a1; 
        max-width: 100%; 
        box-sizing: border-box;
    }
    .Tweet, .FBLike {
        display: inline-block;
        padding: 0;
        width: 77px;
        margin-top: 15px;
        overflow: hidden;
        min-height: 52px;
        iframe {
            border: none;
        }
    }
    iframe ~ small {
        a, a:visited {
            color: #446b87 !important; 
            text-decoration: none !important;
        }
        a:hover {
            color: #446b87 !important; 
            text-decoration: underline !important;
        }
    }
    .class-list {
        li {
            margin-bottom: 10px; 
            font-size: 1.6rem;
            a, a:visited {
                color: #446b87;
                font-family: 'Clear Sans Bold', sans-serif;	
            }
            a {
                &:hover {
                    text-decoration: none;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
        .timetable {
            .txt-err {
                margin-bottom: 0;
                background-color: transparent;
                border-width: 0;
            }
        }
    }
    .sitemap {
        margin: 0 0 30px 10px;
        padding: 0 0 0 10px;
        list-style: disc;
        .sitemap {
            margin-bottom: 0;
        }
        li {
            margin: 10px 0;
            position: relative;
            a {
            	text-decoration: none;
            	color: #446b87;
                &:hover, &:focus {
                    text-decoration: underline;
                    color: #446b87;
                }
            }
        }
    }
}
.file_input_div {
	margin: 10px 0 5px;
}
.search-lead {
	border-bottom: 1px solid #bd348b;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}
.protectedPage {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	i {
		display: none;
	}
	svg {
		fill: rgb(219, 111, 180);
		width: 9px;
		height: 16px;
	}
}
.search-text {
	h3 {
		font-family: 'Droid Serif Bold', serif;
		font-size: 1.8rem;
		margin: 10px 0;
	}
}
.timetable {
	margin: 10px 0;
	caption {
		font-weight: normal; 
		padding: 8px 0;  
		text-transform: uppercase;
	}
}
.timetable-no {
	width: 5%;
}
.timetable-hour {
	width: 15%;
}
.timetable-lesson {
	width: 38%;
}
.timetable-teacher {
	width: 32%;
}
.timetable-room {
	width: 10%;
}
.planLp {
	text-align: center;
}
.planLesson {
	font-family: 'Clear Sans Bold', sans-serif;	
}
.qAnswer {
	float: left;
	margin-top: 10px;
	font-size: 1.4rem;
	text-align: left;
	width: calc(100% - 80px);
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.qPercent {
	font-family: 'Droid Serif Bold', serif;
	float: right;
	text-align: right;
	margin: 10px 0 0;
	padding: 0;
	color: #aad4ff;
	font-size: 2.5rem;
	line-height: 18px;
}
.qBar {
	background-color: #bd348b;
	border: 1px solid #aad4ff;
	border-radius: 1px;
	height: 4px;
	margin: 8px 0;
}
.questionnaireList {
	input[type="radio"] {
		width: 16px;
		height: 16px;
		margin: 0;
		transform: translateX(1px) translateY(1px);
		padding: 0;
		position: absolute;
		& + label {
			position: relative;
			z-index: 2;
			padding-left: 26px;
			line-height: 17px;
			margin: 0 0 10px;
			.radio {
				display: none;
			}
			.label {
				color: $base;
				padding: 0;
				font-size: 1.4rem;
				line-height: 18px;
				white-space: normal;
				border-radius: 0;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				cursor: pointer;
				border-radius: 50%;
			}
			&:before {
				display: block;
				box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.6);
				width: 16px;
				height: 16px;
				background-color: #fff;
				left: 0;
				top: 0;
			}
			&:after {
				width: 6px;
				height: 6px;
				background-color: #446b87;
				display: none;
				left: 5px;
				top: 5px;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
}
.hide {
	position: absolute;
	top: 0;
	left: -9000em;
	width: 1px;
	height: 1px;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
	height: 0;
}
.noMargin {
	margin: 0;
}
.bolder {
	font-family: 'Clear Sans Bold', sans-serif;	
}
img {
	border: none;
}
.rel {
	position: relative;
}

#jokes {
	margin: 0 0 40px 0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 30px;
		border-bottom: 3px solid #bd348b;
		position: relative;
	}
}
.jokeText {
	padding: 10px;
	color: $base;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.jokeNick {
	background: none;
	color: $base;
	text-align: right;
	padding: 5px 10px;
}
.jokeDate {
	color: $base;
}
#cookiesMsgWrap {
	border-top-color: #fff !important;
	background-color: #ac307f !important;
}
#cookiesMsg {
	width: auto !important; 
	padding: 10px !important;
	p {
		color: #fff !important;
		margin: 0;
	}
	a {
		color: #fff !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.video {
	iframe {
		display: block;
		margin: 0 auto;
	}
}
.back-links li {
	margin-bottom: 5px;
}

#backLinks {
	margin: 0; 
	padding: 0;
	li {
		list-style-type: none;
	}
}
@media only screen and (max-width: 1199px) {
	#content_txt {
		padding-bottom: 30px;
	}
}
@media only screen and (max-width: 991px) {
    #crumbpath {
    	padding: 15px;
    }
    #content_txt {
    	width: 100%;
    	padding: 15px;
    }
}
@media only screen and (max-width: 767px) {
    #crumbpath {
    	transform: translateX(-15px);
    	width: calc(100% + 30px);
    }
    #content_txt {
        img {
            max-width: 100% !important;
        }
    }
}