#mod_calendar {
	.clock-container {
		display: none;
	}
	p {
		span {
			font-family: 'Clear Sans Bold', sans-serif;	
		}
	}
}
#mod_stats {
	.stats-count {
		font-family: 'Clear Sans Bold', sans-serif;	
	}
}
#mod_contact {
	p {
		margin: 0;
	}
	a[href^="mailto:"] {
		margin-top: 15px;
		color: currentColor;
		text-decoration: underline;
		span {
			color: currentColor !important;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
#mod_forum {
	.button {
		margin-top: 5px;
	}
	#modForum, .bolder {
		display: none;
	}
}
#mod_weather {
	text-align: center;
	h2 {
		text-align: left;
	}
	.weatherLoc {
		font-family: 'Droid Serif Bold', serif;
	}
	.weatherTemp {
		font-family: 'Droid Serif Bold', serif;
		font-size: 2.8rem;
	}
}
#mod_login {
	.user-avatar {
		text-align: center;
		margin-bottom: 5px;
		img {
			border: 1px solid #bd348b;
		}
	}
	.user-name {
		text-align: center;
		margin-bottom: 5px;
		a {
			text-decoration: underline;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#mod_questionnaire {
	text-align: center;
	.module-content {
		color: #d3e5f2;
		font-family: 'Clear Sans Bold', sans-serif;	
		p {
			text-align: left;
		}
	}
	.button {
		margin-top: 10px;
	}
	fieldset {
		text-align: left;
	}
	input[type="radio"] {
		width: 16px;
		height: 16px;
		margin: 0;
		transform: translateX(1px) translateY(1px);
		padding: 0;
		position: absolute;
		& + label {
			position: relative;
			z-index: 2;
			padding-left: 26px;
			line-height: 17px;
			margin: 0 0 10px;
			.radio {
				display: none;
			}
			.label {
				font-weight: normal;
				color: #d3e5f2;
				padding: 0;
				font-size: 1.4rem;
				line-height: 18px;
				white-space: normal;
				border-radius: 0;
				width: 234px;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				cursor: pointer;
				border-radius: 50%;
			}
			&:before {
				display: block;
				box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.6);
				width: 16px;
				height: 16px;
				background-color: #fff;
				left: 0;
				top: 0;
			}
			&:after {
				width: 6px;
				height: 6px;
				background-color: #446b87;
				display: none;
				left: 5px;
				top: 5px;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
}
#mod_calendar2 {
	.module-content {
		position: relative;
		padding: 52px 0 0;
	}
	#calendarNews {
		position: relative;
		@include clearfix();
	}
	.calendar {
		margin: 0 auto;
		display: block;
		width: 253px;
		position: relative;
		text-align: center;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
		a {
			width: 36px;
			height: 36px;
			line-height: 36px;
			background-color: #ffe0f4;
			color: #7a295d;
			&:hover {
				background-color: #7a295d;
				color: #ffe0f4;
				text-decoration: none;
			}
		}
		.pr_day {
			background-color: #972a6f;
			color: #ffe0f4 !important;
		}
		td {
			width: 37px;
			height: 37px;
			line-height: 36px;
			border: 1px solid #972a6f; 
		}
		th {
			border-bottom: 2px solid #972a6f;
			background-color: #7a295d;
			height: 36px;
			line-height: 26px;
			border-left-width: 0;
			border-right-width: 0;
			text-transform: capitalize;
		}
		th, td {
			color: #ffe0f4;
			padding: 0;
			text-align: center;
		}
		tr {
			td {
				&:first-child {
					border-left-width: 0;
				}
				&:last-child {
					border-right-width: 0;
				}
			}
		}
		caption {
			font-family: 'Droid Serif Bold', serif;
			text-align: center;
			display: block;
			font-size: 1.6rem;
			width: calc(100% - 68px);
			color: #ffe0f4;
			position: absolute;
			top: -52px;
			left: 50%;
			transform: translateX(-50%);
			right: 0;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
		}
	}
	.caption_nav_prev, .caption_nav_next {
		position: absolute;
		width: 34px;
		height: 34px;
		top: -51px;
		a {
			width: 34px;
			height: 34px;
			display: block;
			position: relative;
	        border-radius: 50%;
	        box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
	        background: #385e75;
            background-image: linear-gradient( to top, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
            background-image: -moz-linear-gradient( to top, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
            background-image: -webkit-linear-gradient( to top, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
            background-image: -ms-linear-gradient( to top, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
            text-decoration: none !important;
            &:hover, &:focus {
				background-position: 0 -34px;
            }
			i {
				display: none;
			}
		}
	}
	.caption_nav_prev {
		left: 0;
	}
	.caption_nav_next {
		right: 0;
	}
	.calendar-arrow {
		position: absolute;
		top: 10px;
		z-index: 20;
		left: 10px;
		transition: all .3s ease;
		fill: #e8f5fd;
		position: absolute;
		pointer-events: none;
		transform: rotate(180deg) translateY(2px);
		&.right {
			transform: none;
			left: auto;
			right: 11px;
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#mod_calendar2 {
		.calendar {
			width: 100%;
			td {
				height: 26px;
				line-height: 24px;
			}
			a {
				width: 100%;
				line-height: 26px;
				height: 26px;
			}
			th {
				height: 26px;
				line-height: 24px;
			}
		}
	}
	#mod_questionnaire {
		input[type="radio"] {
			& + label {
				.label {
					width: 172px;
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	#mod_questionnaire {
		input[type="radio"] {
			& + label {
				.label {
					width: 280px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	#mod_calendar2 {
		.calendar {
			width: 100%;
			td, th {
				height: 34px;
				line-height: 32px;
			}
		}
	}
	#mod_questionnaire {
		input[type="radio"] {
			& + label {
				.label {
					width: 220px;
				}
			}
		}
	}
}