.modules-top {
	transform: translateY(-30px);
	margin-bottom: -30px;
	text-align: center;
	position: relative;
	z-index: 2;
	.container {
		position: relative;
	}
	.row {
		font-size: 0;
		& > div {
			box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15); 
			.vector-decoration {
				position: absolute;
				display: none;
				width: 50px;
				height: 50px;
				&.bottom {
					transform: rotate(-90deg);
					bottom: -50px;
					left: 0;
				}
				&.top {
					transform: rotate(90deg);
					top: -50px;
					right: -1px;
				}
			}
			&:first-child {
				background-color: #446b87;
				border-top-left-radius: 10px;
				.vector-decoration {
					fill: #446b87;
					&.bottom {
						display: block;
					}
					&.top {
						right: 0;
					}
				}
				.modules-top__content {
					color: #d3e5f2;
				}
				.modules-top__icon {
					background-color: #446b87;
					.modules-top__icon--background {
						fill: #2c5062;
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #d3e5f2 !important;
						span {
							color: #d3e5f2 !important;
						}
					}
				}
				&#mod_login {
					.button, .butForm {
						background: #c94197;
						text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
						background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						&:hover {
							text-decoration: none !important;
							background-position: 0 -34px;
						}
					}
				}
			}
			&:nth-child(2) {
				background-color: #6d98b7;
				.vector-decoration {
					fill: #6d98b7;
				}
				.modules-top__content {
					color: #d3e5f2;
				}
				.modules-top__icon {
					background-color: #6d98b7;
					.modules-top__icon--background {
						fill: #2c5062;
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #d3e5f2 !important;
						span {
							color: #d3e5f2 !important;
						}
					}
				}
			}
			&:nth-child(3) {
				background-color: #99bfda;
				.vector-decoration {
					fill: #99bfda;
				}
				.modules-top__content {
					color: #2c5062;
				}
				.modules-top__icon {
					background-color: #99bfda;
					.modules-top__icon--background {
						fill: #416a7e;
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #2c5062 !important;
						span {
							color: #2c5062 !important;
						}
					}
				}
			}
			&:nth-child(4) {
				background-color: #b8d6ec;
				border-right: 1px solid #b0cee4;
				.vector-decoration {
					fill: #b8d6ec;
				}
				.modules-top__content {
					color: #2c5062;
				}
				.modules-top__icon {
					background-color: #b8d6ec;
					.modules-top__icon--background {
						fill: #416a7e;
					}
				}
			}
			&:nth-child(3), &:nth-child(4) {
				&#mod_login {
					.user-name {
						a {
							color: #2c5062;
						}
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #2c5062 !important;
						span {
							color: #2c5062 !important;
						}
					}
				}
			}
			&:last-child {
				border-bottom-right-radius: 10px;
				.vector-decoration {
					&.top {
						display: block;
					}
				}
			}
		}
	}
	.module {
		display: inline-block;
		vertical-align: top;
		font-size: 1.4rem;
		line-height: 16px;
		padding: 0 30px 22px;
		position: relative;
	}
	.module-4 {
		width: 25%;
	}
	.module-3 {
		width: 33.3333%;
	}
	.module-2 {
		width: 50%;
	}
	.module-1 {
		width: 100%;
	}
	#mod_login {
		fieldset {
			@include clearfix();
			width: 100%;
			max-width: 253px;
			margin: 0 auto;
		}
		label {
			text-transform: none;
			float: left;
			line-height: 34px;
			font-family: 'Clear Sans Bold', sans-serif;	
			width: calc(100% - 140px);
			text-align: right;
			padding: 0 10px 0 0;
		}
		input[type="text"], 
		input[type="password"] {
			float: left;
			width: 140px;
		}
		input[type="submit"] {
			margin-left: calc(100% - 140px);
			float: left;
		}
	}
}
.modules-top__object {
	position: absolute;
	fill: rgb(189, 52, 139);
	z-index: 3;
	top: -107px;
	left: -58px;
}
.modules-top__object--2 {
	position: absolute;
	fill: rgb(184, 214, 236);
	z-index: 3;
	bottom: -58px;
	left: -7px;
}
.modules-top__name {
	font-size: 2.1rem;
	line-height: 26px;
	margin: -2px 0 18px;
	position: relative;
	padding: 0 0 13px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		height: 1px;
		width: 127px;
	}
	&.name-1 {
		color: #b8d6ec;
		text-shadow: 0px 1px 0px rgba(61, 94, 118, 1);
		&:before {
			background-color: #5a85a3;
		}
	}
	&.name-2 {
		color: #d3e5f2;
		text-shadow: 0px 1px 0px rgba(61, 94, 118, 1);
		&:before {
			background-color: #92b5cf;
		}
	}
	&.name-3 {
		color: #416a7e;
		text-shadow: 0px 1px 0px rgba(182, 224, 246, 1); 
		&:before {
			background-color: #b1dcfb;
		}
	}
	&.name-4 {
		color: #3f687d;
		text-shadow: 0px 1px 0px rgba(182, 224, 246, 1); 
		&:before {
			background-color: #d3e9f8;
		}
	}
}
.modules-top__content {
	max-width: 320px;
	margin: 0 auto;
}
.modules-top__icon {
	width: 83px;
	height: 83px;
	margin: 0 auto;
	border: 0;
	position: relative;
	border-radius: 50%;
	transform: translateY(-11px);
	.modules-top__icon--background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(-2px);
	}
	svg {
		position: absolute;
		top: 45%;
		right: 50%;
		z-index: 2;
		transform: translateX(50%) translateY(-50%);
	}
}
.modules-top__content {
	a {
		text-decoration: none;
		color: currentColor;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: 0;
	}
}
@media only screen and (max-width: 1199px) {
	.modules-top {
		.module {
			padding: 0 18px 18px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.modules-top {
		margin: 20px auto;
		transform: none;
		.module-4 {
			width: 50%;
		}
		.vector-decoration {
			display: none !important;
		}
	}
	.modules-top__object, .modules-top__object--2 {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.modules-top {
		.module {
			display: block;
			width: 100% !important;
			max-width: 290px;
			margin: 0 auto;
			height: auto !important;
		}
	}
}