.modules-bottom {
	@include clearfix();
	padding-top: 60px;
	width: calc(100% + 15px);
	text-align: center;
	position: relative;
	z-index: 2;
	font-size: 0;
	& > .modules-list {
		& > div {
			box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15); 
			.vector-decoration {
				display: block;
				position: absolute;
				width: 60px;
				height: 50px;
				top: -50px;
				right: -1px;
				transform: scale(1,-1);
			}
			&:not(:last-child) {
				.vector-decoration {
					display: none;
				}
			}
			&:first-child {
				background-color: #6d98b7;
				.vector-decoration {
					fill: #6d98b7;
					right: 0;
				}
				.modules-bottom__content {
					color: #d3e5f2;
				}
				.modules-bottom__icon {
					background-color: #6d98b7;
					.modules-bottom__icon--background {
						fill: #2c5062;
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #d3e5f2 !important;
						span {
							color: #d3e5f2 !important;
						}
					}
				}
			}
			&:nth-child(2) {
				background-color: #99bfda;
				.vector-decoration {
					fill: #99bfda;
				}
				.modules-bottom__content {
					color: #2c5062;
				}
				.modules-bottom__icon {
					background-color: #99bfda;
					.modules-bottom__icon--background {
						fill: #416a7e;
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #2c5062 !important;
						span {
							color: #2c5062 !important;
						}
					}
				}
			}
			&:nth-child(3) {
				background-color: #b8d6ec;
				border-right: 1px solid #b0cee4;
				.vector-decoration {
					fill: #b8d6ec;
				}
				.modules-bottom__content {
					color: #2c5062;
				}
				.modules-bottom__icon {
					background-color: #b8d6ec;
					.modules-bottom__icon--background {
						fill: #416a7e;
					}
				}
				&#mod_login {
					.user-name {
						a {
							color: $base;
						}
					}
				}
				&#mod_contact {
					a[href^="mailto:"] {
						color: #2c5062 !important;
						span {
							color: #2c5062 !important;
						}
					}
				}
			}
			&:last-child {
				border-bottom-right-radius: 10px;
			}
		}
	}
	.module {
		display: inline-block;
		vertical-align: top;
		font-size: 1.4rem;
		line-height: 16px;
		padding: 0 30px 22px;
		position: relative;
	}
	.module-3 {
		width: 33.3333%;
	}
	.module-2 {
		width: 50%;
	}
	.module-1 {
		width: 100%;
	}
}
.modules-bottom__name {
	font-size: 2.1rem;
	line-height: 26px;
	margin: -2px 0 18px;
	position: relative;
	padding: 0 0 13px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		height: 2px;
		max-height: 1px;
		min-height: 1px;
		width: 127px;
	}
	&.name-1 {
		color: #d3e5f2;
		text-shadow: 0px 1px 0px rgba(61, 94, 118, 1);
		&:before {
			background-color: #92b5cf;
		}
	}
	&.name-2 {
		color: #416a7e;
		text-shadow: 0px 1px 0px rgba(182, 224, 246, 1); 
		&:before {
			background-color: #b1dcfb;
		}
	}
	&.name-3 {
		color: #3f687d;
		text-shadow: 0px 1px 0px rgba(182, 224, 246, 1); 
		&:before {
			background-color: #d3e9f8;
		}
	}
}
.modules-bottom__object {
	position: absolute;
	top: -114px;
	right: -79px;
	z-index: 3;
	fill: rgb(189, 52, 139);
}
.modules-bottom__content {
	max-width: 320px;
	margin: 0 auto;
}
.modules-bottom__icon {
	width: 83px;
	height: 83px;
	margin: 0 auto;
	border: 0;
	position: relative;
	border-radius: 50%;
	transform: translateY(-11px);
	.modules-bottom__icon--background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(-2px);
	}
	svg {
		position: absolute;
		top: 45%;
		right: 50%;
		z-index: 2;
		transform: translateX(50%) translateY(-50%);
	}
}
.modules-bottom__content {
	a {
		text-decoration: none;
		color: currentColor;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: 0;
	}
}
@media only screen and (max-width: 1199px) {
	.modules-bottom {
		.module {
			padding: 0 18px 18px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.modules-bottom__object {
		display: none;
	}
	.modules-bottom {
		margin: 20px auto;
		width: 100%;
		transform: none;
		& > .modules-list {
			& > div {
				&:first-child {
					border-top-left-radius: 10px;
				}
			}
		}
		.vector-decoration {
			display: none !important;
		}
	}
}
@media only screen and (max-width: 767px) {
	.modules-bottom {
		.module {
			display: block;
			width: 100% !important;
			max-width: 290px;
			margin: 0 auto;
			height: auto !important;
		}
		& > .modules-list {
			& > div {
				&:first-child {
					border-top-right-radius: 0; 
					&.module-1 {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				&:last-child {
					border-bottom-left-radius: 0;
				}
			}
		}
	}
}