.modules-top2 {
	width: calc(100% + 15px);
	text-align: center;
	font-size: 0;
	& > div {
		display: inline-block;
		vertical-align: top;
		font-size: 1.4rem;
		line-height: 16px;
		padding: 16px 30px 22px;
		position: relative;
		box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15); 
		&:nth-child(odd) {
			border-top-color: #9f2c75;
			background-color: #bd348b;
		}
		&:nth-child(even) {
			border-top-color: #91286b;
			background-color: #ac307f;
		}
		.vector-decoration {
			display: none;
		}
		&:last-child {
			.vector-decoration {
				position: absolute;
				display: block;
				width: 65px;
				height: 51px;
				bottom: -50px;
				right: 0;
				fill: #bd348b;
			}
		}
		&.module-3 {
			width: 33.3333%;
		}
		&.module-2 {
			width: 50%;
		}
		&.module-1 {
			width: 100%;
		}
	}
	h2 {
		font-size: 2.1rem;
		color: #ffe0f4;
		line-height: 26px;
		margin: 0 0 18px;
		position: relative;
		padding: 0 0 13px;
		text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			height: 1px;
			width: 127px;
			background-color: #d558a7;
		}
	}
}
.modules-top2__icon {
	width: 79px;
	height: 79px;
	position: relative;
	margin: 0 auto 22px;
	.modules-top2__icon--background {
		width: 79px;
		height: 79px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(-2px);
		fill: #761d56;
	}
	svg {
		position: absolute;
		z-index: 2;
		top: 45%;
		right: 50%;
		transform: translateX(50%) translateY(-50%);
	}
}
.modules-top2__content {
	color: #ffe0f4;
	a {
		color: #ffe0f4 !important;
		span {
			color: #ffe0f4 !important;
		}
	}
}
@media only screen and (min-width: 992px) {
	.modules-top2 {
		transform: translateY(-20px);
		&.padding-top {
			& > div {
				padding-top: 36px;
				border-top-width: 2px;
				border-top-style: solid;
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.modules-top2 {
		width: calc(100% + 30px);
		margin: 20px auto 70px;
		transform: translateX(-15px);
		.vector-decoration {
			display: none !important;
		}
	}
}
@media only screen and (max-width: 767px) {
	.modules-top2 {
		& > div {
			display: block;
			width: 100% !important;
			max-width: 290px;
			margin: 0 auto;
			height: auto !important;
		}
	}
}