.pagination-wrapper {
    margin: 30px 0 30px 7px;
    & > p {
        margin-bottom: 5px;
    }
    ul {
        font-size: 0;
        margin: 0;
        transform: translateX(-3px);
        text-align: left;
        li {
            display: inline-block;
            vertical-align: top;
            padding: 0;
            a, span {
                font-family: 'Droid Serif Bold', serif;
                font-size: 1.4rem;
                width: 34px;
                height: 34px;
                display: block;
                text-align: center;
                margin: 3px;
                line-height: 34px;
                border-radius: 50%;
                box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
                text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
                color: #eaf7ff;
            }
            svg {
                display: inline-block;
                vertical-align: middle;
                fill: rgb(234, 247, 255);
                transform: translateX(10%);
            }
            a {
                background: #385e75;
                background-image: linear-gradient( to bottom, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
                background-image: -moz-linear-gradient( to bottom, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
                background-image: -webkit-linear-gradient( to bottom, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
                background-image: -ms-linear-gradient( to bottom, rgb(68,107,135) 0%, rgb(44,80,98) 100%);
                text-decoration: none !important;
                &:hover, &:focus {
                    text-decoration: none !important;
                    background-position: 0 -34px;
                }
            }   
            .page-active {
                color: #ffe0f4;
                background: #ca4298;
                background-image: linear-gradient(to bottom, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
                background-image: -ms-gradient(to bottom, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
                background-image: -webkit-linear-gradient(to bottom, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
                background-image: -o-linear-gradient(to bottom, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
            }   
            .btn-prev, .btn-first {
                svg {
                    transform: translateX(-20%) translateY(-10%) rotate(180deg);
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .pagination-wrapper {
        margin-left: 0;
    }
}