#sidebar-menu-desktop, #sidebar-menu-mobile {
	@include clearfix();
}
.sidebar {
	width: calc(100% + 30px);
	transform: translateX(-15px);
	h2 {
		color: #bd348b;
		font-size: 2.2rem;
		line-height: 24px;
		margin: 20px 0 15px;
	}
}
.sidebar-menu {
	font-family: 'Droid Serif Bold', serif;
	width: 225px;
	margin: 0 30px 0 0;
	float: right;
	text-align: right;
	ul {
		li {
			margin-bottom: 2px;
		}
		a {
			font-size: 1.6rem;
			line-height: 20px;
			display: block;
			padding: 8px 4px 6px;
			color: #446b87;
			border-bottom: 2px solid #fff;
			&.selected {
				color: #bd348b;
			}
			&:hover, &:focus {
				outline-width: 0;
				color: #446b87;
			}
		}
	}
	.dropdown-menu {
		box-shadow: none;
		border: 0;
		border-radius: 0;
		padding: 0 30px 0 0;
		margin: 0;
		float: none;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		width: 100%;
		background-color: transparent;
		text-align: right;
		& > li {
			& > a {
				&:hover, &:focus {
					text-decoration: underline;
					color: #446b87;
				}
			}
		}
	}
}
.sidebar-modules {
	width: calc(100% - 15px);
	padding-bottom: 65px;
	.module {
		@include clearfix();
		position: relative;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 30px 16px 20px;
		transform: translateY(1px);
		margin-top: -1px;
		box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
		a {
			color: currentColor;
		}
		&.module--icon {
			.module-content {
				.content {
					float: left;
					width: calc(100% - 85px);
				}
			}
		}
		h2 {
			margin: 0 0 16px;
			font-size: 2.2rem;
			line-height: 26px;
			padding: 0 0 15px;
			text-align: left;
			position: relative;
			clear: both;
			&:before {
				content: '';
				display: block;
				width: 128px;
				height: 1px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		.module-content {
			@include clearfix();
			position: relative;
			.content {
				width: 100%;
			}
		}
		.icon {
			transform: translateY(-30px);
			position: relative;
			width: 79px;
			height: 79px;
			float: right;
			svg:not(.icon-background) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		&#mod_login {
			label, .label {
				line-height: normal;
				font-weight: normal;
			}
			fieldset {
				width: 170px;
			}
			input[type="text"], input[type="password"] {
				width: 100%;
				margin-bottom: 10px;
			}
			.butForm {
				float: right;
			}
		}
		&#mod_forum {
			.button {
				margin-top: 15px;
			}
		}
		&:nth-child(3n+1) {
			background-color: #446b87;
			color: #d3e5f2;
			.vector-decoration {
				fill: #446b87;
			}
			.icon-background {
				fill: #2c5062;
			}
			h2 {
				color: rgb(184, 214, 236);
				text-shadow: 0px 1px 0px rgba(61, 94, 118, 1);
				&:before {
					background-color: #5a85a3;
				}
			}
			&#mod_forum {
				.button {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}
			}
			&#mod_login {
				.butForm {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}
			}
			&#mod_calendar2 {
				.caption_nav_prev, .caption_nav_next {
					a {
						background: #c94197;
						text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
						background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						&:hover, &:focus {
							background-position: 0 -34px;
			            }
					}
				}
				.calendar {
					caption, td {
						color: #d3e5f2;
					}
					td, th {
						border-color: #d3e5f2;
						text-shadow: none;
					}
					th {
						background-color: #d3e5f2;
						color: $base;
					}
					a {
						background-color: #d3e5f2;
						color: #972a6f;
						&:hover {
							background-color: #972a6f;
							color: #d3e5f2;
						}
					}
					.pr_day {
						background-color: #972a6f;
						color: #d3e5f2 !important;
					}
				}
			}
			&#mod_questionnaire {
				.button {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}	
				.module-content, .qPercent {
					color: #aad4ff;
				}
			}
			&#mod_contact {
				a[href^="mailto:"], a[href^="mailto:"] span {
					color: #ffd800 !important;
				}
			}
		}
		&:nth-child(3n+2) {
			background-color: #bd348b;
			color: #ffe0f4;
			.vector-decoration {
				fill: #bd348b;
			}
			.icon-background {
				fill: #761d56;
			}
			h2 {
				color: rgb(255, 224, 244);
				text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
				&:before {
					background-color: #d558a7;
				}
			}
			&#mod_questionnaire {
				.module-content, .qPercent {
					color: #ffe0f4;
				}
				.qBar {
					background-color: #aad4ff;
				}
			}
			&#mod_contact {
				a[href^="mailto:"], a[href^="mailto:"] span {
					color: #ffd800 !important;
				}
			}
			&#mod_calendar2 {
				.calendar {
					th {
						border-top-color: #972a6f;
					}
				}
			}
		}
		&:nth-child(3n+3) {
			background-color: #ffd800;
			color: #7a295d;
			.vector-decoration {
				fill: #ffd800;
			}
			.icon-background {
				fill: #857100;
			}
			h2 {
			    color: rgb(122, 41, 93);
				text-shadow: 0px 1px 0px rgba(255, 234, 118, 1);
				&:before {
					background-color: #e8c400;
				}
			}
			&#mod_forum {
				.button {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}
			}
			&#mod_login {
				.user-name {
					a {
						color: #7a295d;
					}
				}
				.butForm {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}
			}
			&#mod_calendar2 {
				.caption_nav_prev, .caption_nav_next {
					a {
						background: #c94197;
						text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
						background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
						background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					}
				}
				.calendar {
					caption, td {
						color: #7a295d;
					}
					th {
						border-top-color: #972a6f;
					}
				}
			}
			&#mod_questionnaire {
				.button {
					background: #c94197;
					text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
					background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
					&:hover {
						text-decoration: none !important;
						background-position: 0 -34px;
					}
				}	
				input[type="radio"] {
					& + label {
						.label {
							color: #7a295d;
						}
					}
				}
				.module-content, .qPercent {
					color: #7a295d;
				}
				.qBar {
					border-color: #d74fa5;
				}
			}
			&#mod_calendar2 {
				.caption_nav_prev, .caption_nav_next {
					a {
						&:hover, &:focus {
							background-position: 0 -34px;
			            }
					}
				}
			}
			&#mod_contact {
				a[href^="mailto:"], a[href^="mailto:"] span {
					color: #bd348b !important;
				}
			}
		}
		&:nth-child(1) {
			z-index: 20;
		}
		&:nth-child(2) {
			z-index: 19;
		}
		&:nth-child(3) {
			z-index: 18;
		}
		&:nth-child(4) {
			z-index: 17;
		}
		&:nth-child(5) {
			z-index: 16;
		}
		&:nth-child(6) {
			z-index: 15;
		}
		&:nth-child(7) {
			z-index: 14;
		}
		&:nth-child(8) {
			z-index: 13;
		}
		&:nth-child(9) {
			z-index: 12;
		}
		&:nth-child(10) {
			z-index: 11;
		}
		&:nth-child(11) {
			z-index: 10;
		}
		&:nth-child(12) {
			z-index: 9;
		}
		&:nth-child(13) {
			z-index: 8;
		}
		&:nth-child(14) {
			z-index: 7;
		}
		&:nth-child(15) {
			z-index: 6;
		}
		&:nth-child(16) {
			z-index: 5;
		}
		&:nth-child(17) {
			z-index: 4;
		}
		&:nth-child(18) {
			z-index: 3;
		}
		&:nth-child(19) {
			z-index: 2;
		}
		&:nth-child(20) {
			z-index: 1;
		}
		.vector-decoration {
			position: absolute;
			width: 50px;
			height: 50px;
			&.top {
				left: 0;
				top: -49px;
				transform: rotate(180deg);
			}
			&.bottom {
				z-index: 3;
				right: 0;
				bottom: -49px;
			}
		}
	}
}
@media only screen and (max-width: 1199px) {
	.sidebar {
		width: 100%;
		transform: none;
	}
	.sidebar-menu {
		width: 205px;
		margin-right: 15px;
	}
	.sidebar-modules {
		width: 100%;
		.module {
			&.module--icon {
				.module-content {
					.content {
						width: calc(100% - 65px);
					}
				}
			}
			&#mod_forum {
				.button {
					margin-top: 0;			
				}
			}
			&#mod_login {
				fieldset {
					width: 100%;
				}
			}
			.icon {
				transform: none;
				width: 60px;
				height: 60px;
				svg:not(.icon-background) {
					transform: translateX(-50%) translateY(-50%) scale(0.8);
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.sidebar-menu {
		width: 100%;
		text-align: left;
		margin: 0;
		.dropdown-menu {
			padding: 0 0 0 30px;
			text-align: left;
		}
	}
	.sidebar-modules {
		.module {
			&#mod_forum {
				.button {
					min-width: 0;
					margin-top: 15px;
				}
			}
			&#mod_login {
				label, .label {
					text-align: left;
				}
				fieldset {
					max-width: 280px;
					margin: 0 auto;
				}
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	.sidebar-menu {
		margin-bottom: 20px;
	}
	.sidebar-modules {
		.module {
			height: auto !important;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.sidebar-modules {
		width: 100%;
		text-align: left;
		font-size: 0;
		.module {
			text-align: left;
			display: inline-block;
			font-size: 1.4rem;
			vertical-align: top;
			width: 50%;
			&.module--icon {
				.icon {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
				.module-content {
					padding-top: 65px;
					.content {
						width: 100%;
					}
				}
			}
			.module-content {
				text-align: center;
			}
			&#mod_forum {
				.button {
					margin: 15px 30px 0;
				}
			}
			&:nth-child(2) {
				.vector-decoration {
					&.top {
						display: none;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.sidebar-modules {
		width: 100%;
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
		.module {
			height: auto !important;
		}
	}
}