.toolbar {
	padding: 24px 0 16px;
	color: #2c5062;
	text-shadow: 0px 1px 0px rgba(182, 224, 246, 1);
	.row > div {
		@include clearfix();
	}
	p {
		margin: 0;
	}
	h1 {
		color: #2c5062;
		display: block;
		float: left;
		width: calc(100% - 42px);
		margin: 7px 0 0;
		font-size: 2.4rem;
		line-height: 28px;
	}
}
.toolbar__home {
	float: left;
	display: block;
	width: 24px;
	height: 21px;
	margin: 10px 16px 0 0;
	svg {
		transition: all .3s ease;
		fill: #c23990;
		width: 24px;
		height: 21px;
	}
	&:hover {
		svg {
			fill: #2c5062;
		}
	}
}
.toolbar__address {
	float: left;
	width: 152px;
	margin: 33px 75px 0 0;
	line-height: 18px;
	a[href^="mailto:"] {
		color: #2c5062;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.toolbar__links {
	width: calc(100% - 227px);
	float: left;
	@include clearfix();
	li {
		display: block;
		float: left;
		&.bip {
			margin: 0 38px 0 0;
		}
		span {
			vertical-align: middle;
			display: inline-block;
		}
		&.fonts {
			margin: 0 28px 0 0;
			ul {
				display: inline-block;
				vertical-align: middle;
			}
			span {
				margin-right: 12px;
			}
			li {
				display: inline-block;
				font-size: 0;
				margin-right: 6px;
				vertical-align: bottom;
				height: 20px;
				position: relative;
				&:first-child {
					width: 16px;
				}
				&:nth-child(2) {
					width: 19px;
				}
				&:last-child {
					width: 26px;
				}
				a {
					position: absolute;
					width: 100%;
					height: 20px;
					bottom: 0;
					left: 0;
				}
				svg {
					position: absolute;
					bottom: 0;
					left: 0;
					fill: rgb(44, 80, 98);
				}
			}
			div {
				display: block;
			}
		}
		&.contrast {
			span {
				transform: translateX(-2px) translateY(-8px);
			}
			svg {
				fill: rgb(44, 80, 98);
			}
		}
		&.search {
			margin: 17px 0 0;
			width: 277px;
			height: 36px;
			float: right;
			input[type="text"] {
				width: 189px;
				display: block;
				float: left;
				margin: 0 5px 0 0;
			}
			button[type="submit"] {
				display: block;
				float: left;
				width: 83px;
			}
		}
	}
}
@media only screen and (max-width: 1199px) {
	.toolbar {
		h1 {
			margin-top: 0;
		}
	}
	.toolbar__address {
		margin: 0 47px 0 0;
	}
	.toolbar__links {
		width: calc(100% - 200px);
	}
}
@media only screen and (max-width: 991px) {
	.toolbar {
		margin-top: 50px;
		padding: 10px 0;
		.row {
			@include clearfix();
			& > div {
				float: left;
				width: auto;
				&:first-child {
					width: 65px;
				}
				&:last-child {
					width: calc(100% - 65px);
				}
			}
		}
		h1 {
			display: none;
		}
		.container {
			width: 100%;
		}
	}
	.toolbar__home {
		margin: 0;
		width: 65px;
		padding: 5px;
	}
	.toolbar__links {
		width: 100%;
		li {
			&.fonts, span {
				display: none;
			}
			&.bip, &.contrast {
				margin-top: 5px;
			}
			&.search {
				margin: 0;
				width: auto;
			}
		}
	}
	.toolbar__address {
		display: none;
	}
}
@media only screen and (max-width: 639px) {
	.toolbar {
		.row {
			& > div {
				&:first-child {
					width: 50px;
					padding-right: 0;
				}
				&:last-child {
					width: calc(100% - 50px);
				}
			}
		}
	}
	.toolbar__home {
		width: 50px;
	}
	.toolbar__links {
		li {
			&.bip {
				margin: 5px 20px 0 0;
			}
			&.search {
				input[type="text"] {
					width: 125px;
				}
			}
		}
	}
}
@media only screen and (max-width: 519px) {
	.toolbar__links {
		li {
			&.bip {
				overflow: hidden;
				width: 27px;
				img {
					max-width: 125px;
					width: 125px;
					height: 27px;
				}
			}
			&.search {
				position: relative;
				input[type="text"] {
					display: none;
					position: absolute;
					z-index: 2;
					width: 189px;
					right: 90px;
					top: 0;
				}
				&.show {
					input[type="text"] {
						display: block;
					}
				}
			}
		}
	}
}