$base: #6f6f6f;
$attention: #ffd800;
html, body {
	margin: 0; padding: 0; 
	min-width: 320px; 
	font-family: 'Clear Sans', sans-serif;
	color: $base; 
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #eaf7ff;
	background-image: url('../images/background.png');
	background-repeat: repeat;
	font-size: 1.4rem; 
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 492px;
		background: -moz-linear-gradient(to bottom, rgb(152, 200, 224) 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
		background: -webkit-linear-gradient(to bottom, rgb(152, 200, 224) 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
		background: -ms-linear-gradient(to bottom, rgb(152, 200, 224) 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
		background: -o-linear-gradient(to bottom, rgb(152, 200, 224) 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
		background: linear-gradient(to bottom, rgb(152, 200, 224) 0%, rgba(152, 200, 224, 0.9) 25%, rgba(234, 247, 255, 0.5) 100%);
		pointer-events: none;
	}
}
.page {
	position: relative;
	overflow: hidden;
	display: block !important;
	&:focus {
		outline: 0;
	}
}
img {
	max-width: 100%;
}
.label, label {
	white-space: normal;
	text-align: left;
	border-radius: 0;
	line-height: 34px;
	display: inline-block;
}
p, span, a, h2, h3 {
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.dropdown-backdrop {
	display: none;
}
form, fieldset, button {
	margin: 0; 
	background-color: transparent;
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em;
}
input, select, textarea {
	font-size: 1.3rem; 
	font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif; 
	outline: none;
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
table {
	width: 100%; 
	margin: 10px 0;
	table-layout: fixed;
	border-collapse: collapse; 
	caption {
		font-family: 'Clear Sans Bold', sans-serif;	
	}
	td, th {
		padding: 5px;
		border: 1px solid #446b87;
	}
	th {
		background-color: #446b87;
		color: #fff;
		border-left-color: #fff;
		border-right-color: #fff;
	}
	tr {
		th, td {
			&:first-child {
				border-left-width: 0;
				
			}
			&:last-child {
				border-right-width: 0;
			}
		}
	}
}
a {
	display: inline-block;
	transition: all .3s ease-in-out; 
	color: #446b87;
	&:hover, &:focus {
		color: currentColor;
	}
	&:focus {
		text-decoration: none;
		outline-width: 0;
	}
	&[href^="mailto:"] {
		word-break: break-all;
		color: $base;
		span {
			color: $base;
		}
	}
}
.skip-links {
    position: absolute;
    top: 0;
	a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    min-width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
	}
	a {
		&:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active {
		    left: 0;
		    background-color: $base;
		    border: 2px solid #fff;
		    color: #fff;
		    font-family: 'Clear Sans Bold', sans-serif;	
		    opacity: 1;
		    outline: none;
		}
	}
}
[data-whatinput="keyboard"] *:focus {
	outline: 2px solid #000 !important;
	outline-offset: 0 !important;
	display: inline-block;
	opacity: 1 !important;
}
[data-whatinput="keyboard"] input[type="radio"]:focus {
	outline: 2px solid #000;
	outline-offset: 2px;
}
a, button, .menu-top .navbar-toggl, .dropdown-toggle {
	&:focus {
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: 0;
	}
}
[data-whatinput="mouse"] input[type="radio"], 
[data-whatinput="touch"] input[type="radio"] {
	&:focus {
		outline: 0 !important;
	}
}
.butForm, button:not(.navbar-toggle), input[type="submit"], .button {
	font-family: 'Droid Serif Bold', serif;
	line-height: 18px;
	padding: 8px 13px; 
	color: rgb(234, 247, 255) !important;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(32, 61, 76, 1);
	text-decoration: none !important;
	text-align: center !important;
	border-radius: 18px;
	border: 0;
	background: #32576a;
	transition: all .3s ease;
	background-image: -moz-linear-gradient(to top, rgb(88,136,160) 0%, rgb(44,80,98) 100%);
	background-image: -webkit-linear-gradient(to top, rgb(88,136,160) 0%, rgb(44,80,98) 100%);
	background-image: -ms-linear-gradient(to top, rgb(88,136,160) 0%, rgb(44,80,98) 100%);
	background-image: linear-gradient(to top, rgb(88,136,160) 0%, rgb(44,80,98) 100%);
	box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
	&.color-2 {
		background: #c94197;
		color: #ffe0f4 !important;
		text-shadow: 0px 1px 0px rgba(156, 34, 112, 1);
		background-image: -moz-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
		background-image: -webkit-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
		background-image: -ms-linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
		background-image: linear-gradient(to top, rgb(215,79,165) 0%, rgb(189,52,139) 100%);
	}
	&:hover {
		text-decoration: none !important;
		background-position: 0 -34px;
	}
}
h3 {
	margin-top: 2rem; 
	margin-bottom: 1rem; 
	font-size: 2.4rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif Bold', serif;
	font-weight: normal;
	color: #bd348b;
}
h4, h5, h6 {
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}
div[aria-hidden="true"] {
    display: inline;
}
.main-text {
	a {
		color: #ac307f;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.page-content-mobile, a#top, #flashclock {
	display: none;
}
.page-content {
	padding-top: 0;
}
.files-header,
.gallery-header,
.subHead,
.main-header {
	display: block;
	text-align: center;
	color: #bd348b;
	position: relative;
	padding: 0 0 15px;
	&:before {
		content: '';
		display: block;
		width: 192px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 1px;
		background-color: #b8d6ec;
	}
}
.main-header, .subHead {
	font-size: 3rem !important;
	line-height: 34px !important;
}
.main-header {
	margin: 0 0 60px;
}
.subHead {
	margin: 0 0 30px;
}
.files-header,
.gallery-header,
.subHead {
	text-align: left;
	font-size: 2.2rem !important;
	line-height: 26px !important;
	margin: 0 0 30px;
	&:before {
		left: 0;
		transform: none;
	}
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="text"],
input[type="search"],
input[type="password"],
textarea {
	border-radius: 18px;
	font-size: 1.4rem;
	letter-spacing: 0.3px;
	color: #568096;
	border: 0;
	box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15); 
}
input[type="text"],
input[type="search"],
input[type="password"] {
	height: 34px;
	padding: 0 16px;
	line-height: 34px;
}
textarea {
	resize: none;
	line-height: 18px;
	padding: 16px;
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
.main {
	position: relative;
	background-color: #fff;
	padding-bottom: 30px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -15px;
		width: 15px;
		height: 100%;
		background-color: #fff;
	}
}
blockquote {
	padding: 0 0 0 10px;
	margin: 0;
	border-left: 3px solid $base;
	font-size: 1.4rem;
}
.vector-decoration {
	&:focus {
		outline-width: 0 !important;
	}
}
@media only screen and (min-width: 992px) {
	.aside {
		padding-right: 0;
	}
	.main {
		padding-left: 0;
		position: relative;
		margin-bottom: -16px;
        box-shadow: 0.2px 2px 0px 0px rgba(1, 1, 1, 0.15);
		.content-vector-decoration {
	        display: block;
	        position: absolute;
	        z-index: 10;
	        width: 68px;
	        height: 51px;
	        right: -15px;
	        bottom: -50px;
	        fill: #fff;
	    }
	    .content-vector-decoration__shadow {
	    	fill: #000;
	    }
	}
}
@media only screen and (max-width: 1199px) {
	.main {
		.content-vector-decoration {
			display: none;
		}
	}
	.files-header,
	.gallery-header,
	.subHead,
	.main-header {
		margin-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
    	font-size: 56.25%;
    }
}
@media only screen and (max-width: 991px) {
	.page-content-mobile {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
    .table-responsive {
    	border: 0;
    }
}